.favorites-container {
    width: 99%;
    height: 210px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    border-bottom: 8px solid #019fe9;
    padding: 0;
}

.favorites-container *{
    text-shadow: 1px 1px 1px #343434;
}

.favorites-container-content {
    margin: 0 auto;
    height: 100%;
    width: 785px;
}

.favorites-button-close {
    position: absolute;
    background: none;
    border: 0;
    color: #FFF;
    font-size: 70%;
    margin: 10px -92px;
}

.favorites-box-favorite {
    display: inline-block;
    background: #019fe9;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 30px 0 0 30px;
    cursor: pointer;
}

.favorites-button-favoriteClose {
    border-radius: 50%;
    border: none;
    color: #3A3839;
    float: right;
    margin: 10px 10px 0 0;
}

.favorites-button-prev, .favorites-button-next {
    font-size: 150%;
    margin-top: 90px;
    font-weight: bold;
    border: none;
    background: none;
    color: #aaa8a9;
    height: 40px;
}

.favorites-button-prev {
    float: left;
}

.favorites-button-next {
    float: right;
}

.favorites-text-sportLabel {
    position: absolute;
    display: inline-block;
    margin: 120px 0 0 56px;
    width: 120px;
    max-width: 120px;
    padding: 0 15px 0 10px;
    line-height: 22px;
    height: 22px;
    color: #FFF;
    font-style: italic;
    background: #133380;
    border-radius: 8px 0 0 10px;
}

.favorites-text-gameLabel {
     display: inline-block;
     text-align: center;
     position: absolute;
     margin: 50px 0 0;
     width: 200px;
     max-width: 200px;
     line-height: 20px;
     height: 20px;
     font-style: italic;
     color: #FFF;
    word-break: break-all;
    /*word-wrap: break-word;*/
    overflow: hidden;
 }

.favorites-text-dateLabel {
    display: inline-block;
    text-align: center;
    position: absolute;
    margin: 70px 0 0;
    width: 200px;
    max-width: 200px;
    font-size: 70%;
    height: 20px;
    color: #FFF;
}