APP_ENV=local
APP_DEBUG=true
APP_DEBUG_BAR=false
APP_DEBUG_CW=false
APP_KEY=tjjvW1aWv7JPhYtOpsO8xeRrFXo1vlSR

DB_HOST=160.153.16.53
DB_DATABASE=ibetupco
DB_USERNAME=ibetupco
DB_PASSWORD=rL;twb$~?fhI

DB_ODDS_HOST=160.153.16.53
DB_ODDS_DATABASE=betgenius
DB_ODDS_USERNAME=odds
DB_ODDS_PASSWORD=Mike#69

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SESSION_DOMAIN=betportugal.pt

MAIL_DRIVER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=geral@sfponline.pt
MAIL_PASSWORD=Casino2016
MAIL_ENCRYPTION=tls
MAIL_NAME=BetPortugal

ODDS_SERVER=http://odds.casinoportugal.pt/
BET_SUBMIT_DELAY=1

TEST_MAIL=geral@casinoportugal.pt
TEST_MAIL_NAME=CasinoPortugal

SRIJ_COMPANY_CODE=2215
SRIJ_SELF_EXCLUSION=http://localgate.pt/ListaExcluidos.svc?singleWsdl
SRIJ_IDENTITY=http://localgate.pt/ListaVerificaIdentidade.svc?singleWsdl
