.env
/tests/Nyx
/vendor
/node_modules
/.idea
/.vs
/.vscode/

*error_log
*.DS_Store
phpunit-*.xml

/public/assets/portal/css/app.*
/public/assets/portal/css/casino.*
/public/assets/portal/css/sports.*
/public/assets/portal/css/style.*
/public/assets/portal/js/app.*
/public/assets/portal/js/bundle.*
/public/assets/portal/js/casino.*
