.env
/tests/Nyx
/vendor
/node_modules
/.idea

*error_log
*.DS_Store
phpunit-*.xml

/public/assets/portal/css/app.css.map
/public/assets/portal/css/casino.css.map
/public/assets/portal/css/sports.css.map
/public/assets/portal/css/style.css.map
/public/assets/portal/js/app.js.map
/public/assets/portal/js/bundle.js.map
/public/assets/portal/js/casino.js.map
