/storage
.DS_Store
/tests/Nyx
.env
/vendor
/node_modules
/.idea
/public/design

*error_log
/public/certifica
/.gitignore
/composer.lock
/composer.phar
/public/assets/portal/css/portal.css
/public/assets/portal/css/bet-details.css
/public/assets/portal/css/bet-details.css.map
/public/assets/portal/css/portal.css.map
/public/assets/portal/css/sports.css
/public/assets/portal/css/sports.css.map
