<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_HOST" value="10.92.151.43"/>
        <env name="DB_USERNAME" value="jcouto"/>
        <env name="DB_PASSWORD" value="JtIujzHb0Q3HgR0h"/>
        <env name="DB_DATABASE" value="betportugal_test"/>
        <env name="DB_ODDS_DATABASE" value="betgenius_dev"/>
        <env name="DB_DOCS_DATABASE" value="docs_db_dev"/>
        <env name="DB_CASINO_DATABASE" value="betcasino_dev"/>
    </php>
</phpunit>
