@import "../global/variables";
.valido{
  font-family: $font-sans;
  color: $color-green;
  font-size: 14px;
}
.pendente{
  font-family: $font-sans;
  color: darkorange;
  font-size: 14px;
}
.invalido{
  font-family: $font-sans;
  color: darkred;
  font-size: 14px;
}
.icon {
  float: right;
}