@import "../global/variables";

.center {
  float: left;
  margin-top: 22px;
  width: 100%;
  // height: 300px;

  .texto {
    margin-top: 10px;
    font-family: $font-sans;
    color: gray;
    font-size: 12px;
  }
  .title2{
    font-family: $font-sans;
    color: grey;
    font-weight: bold;
    font-size: 16px;
  }

  .title {
    font-family: $font-sans;
    color: $color-blue;
    font-weight: bold;
    font-size: 14px;
  }
  table{
    width:100%;
  }
  .borderless td, .borderless th {
    border: none;
    color:grey;
    font-size:14px;
  }

}

.left {
  float: left;
  width: calc(100% / 2);
  img.icon{
    margin-top:-20px;
    position:absolute;
    margin-left:140px;
  }


  .title {
    font-family: $font-sans;
    color: $color-blue;
    font-weight: bold;
    font-size: 14px;
  }
  .input-title {
    margin-top: 10px;
    font-size: 13px;
    color: $color-blue;
    font-family: $font-sans;
  }
  input {
    margin-left: -10px;
    width: 200px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #FFF;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;

  }

  input[type="submit"] {
    font-family: $font-exo;
    font-weight: bold;
    font-size: 13px;
    color: $color-white;
    float: right;
    background: $color-green;
    height: 25px;
    border: none;
    border-radius: 6px;
    width: 85px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom:20px;
  }
}
.profright {

  float: left;
  width: calc(100% / 2);

  img.icon{
    margin-top:-20px;
    position:absolute;
    margin-left:140px;
  }
  .valido{
    font-family: $font-sans;
    color: $color-green;
    font-size: 14px;
  }
  .pendente{
    font-family: $font-sans;
    color: darkorange;
    font-size: 14px;
  }
  .invalido{
    font-family: $font-sans;
    color: darkred;
    font-size: 14px;
  }
  .title {
    font-family: $font-sans;
    color: $color-blue;
    font-weight: bold;
    font-size: 14px;
  }
  .input-title {
    margin-top: 10px;
    font-size: 13px;
    color: $color-blue;
    font-family: $font-sans;
  }
  input {
    margin-left: -10px;
    width: 200px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #FFF;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;

  }
  select {
    margin-left: -10px;
    width: 200px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: url("/assets/portal/img/combodown.gif") no-repeat right #fff;
  }
  input.disabled {
    margin-top: 5px;
    border: none;
    background-color: #FFF;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    font-family: $font-exo;
    font-weight: bold;
    font-size: 13px;
    color: $color-white;
    float: right;
    background: $color-green;
    height: 25px;
    border: none;
    border-radius: 6px;
    width: 85px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom:20px;

  }
  .profile-info {
    font-size: 13px;
    color: $color-blue;
    font-family: $font-sans;
  }
}

.profile-button-right {
  margin-top: 23px;
  float: right;
}
a{
  color:$color-blue;
}
.title {
  width:100%;
  margin-bottom:10px;
  margin-top:20px;
  font-family: $font-sans;
  color: $color-blue;
  font-weight: bold;
  font-size: 14px;
}
.sub-title {
  width:100%;
  font-family: $font-sans;
  color: $color-blue;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
}
.texto{
  width:100%;
  font-family: $font-sans;
  color:grey;
  font-size:12px;
}
.old {
  select.grande{
    width:90% !important;
  }
  textarea{
    color:grey;
    width:100%;
    height:150px;
    font-size:12px;
    font-weight:normal;
  }
  input {
    margin-left: -10px;
    width: 200px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #FFF;
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;


  }
  input[type="number"] {

    width: 50px;
    height: 28px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #FFF;
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }
  span{
    color:grey;
    font-size:12px;

  }
}