@import "../global/variables";
.docs {
  .texto {
    line-height: 24px;
  }
  a {
    float: left;
  }
  img {
    float: right;
  }

}

.codes {
  .input-group i {
    position: absolute;
    top: 5px;
    right: -14px;
  }
}

.settings {
  padding-top: 20px;
  .grupo {
    padding: 0 30px;
  }
}

.history {
  padding-top: 10px;
  .grupo {
    padding: 0 10px;
  }
  &.dates {
    .input-group {
      padding: 0 10px;
    }
    input{
      padding: 5px;
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      text-indent: 5px;
    }
  }
}

.date {
  position: relative;
  button {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 3;
  }
}