body {
    background-color: #000;
}
.casino-container * {
    text-shadow: 1px 1px 1px #343434;
}

.casino-container {
    margin: 5px auto;
    padding: 10px;
    box-sizing: border-box;
    clear: both;
    min-width: 1204px;
    overflow: hidden;
}

.casino-container-header {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
.casino-container-contentHeader {
    padding-bottom: 8px;
}

.casino-container-menu {
    float: left;
    width: 16%;
    min-height: 100px;
    background: #242424;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px 5px;
    border: 1px solid #393939;
    /*min-width: 180px;*/
}
.casino-container-content {
    float: left;
    width: 83%;
    padding: 0 5px 8px;
    background: #242424;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 5px;
    overflow: hidden;
    border: 1px solid #393939;
}

.casino-box-header {
    margin: 20px auto 0;
    background-color: #0C369A;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    padding: 0 40px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.casino-box {
    margin: 0 auto;
    background-color: #353535;
    height: 175px;
    border-radius: 0 0 12px 12px;
    width: 100%;
}

.casino-box-game {
    float: left;
    width: 180px;
    height: 135px;
    margin: 20px 20px;
    text-align: left;
}

.casino-box-carousel {
    display: inline-block;
    width: 860px;
}

.casino-image-game {
    cursor: pointer;
    border: 0;
    width: 180px;
    height: 125px;
    border-radius: 15px;
}

.casino-text-gameLabel {
    color: #FFF;
    margin-left: 10px;
}

.casino-button {
    display: inline-block;
    color: #FFF;
    height: 25px;
    font-size: 84%;
    border-radius: 5px;
    border: 1px solid #fff;
    background: none;
    text-align: center;
    margin: auto 10px;
}

.casino-button-favorite {
    color: #FFF;
    cursor: pointer;
    background: none;
    border: 0;
    float: right;
    margin-right: 5px;
}

.casino-button-prev, .casino-button-next {
    font-size: 150%;
    margin: 45px 10px;
    font-weight: bold;
    border: none;
    background: none;
    color: #aaa8a9;
    height: 80px;
}

.casino-button-prev {
    float: left;
    font-size: 200%;
}

.casino-button-next {
    float: right;
    font-size: 200%;
}

.casino-box-menuItem {
    border: 1px solid #181818;
    height: 35px;
    line-height: 35px;
    word-break: keep-all;
    overflow: hidden;
    cursor: pointer;
    color: #6B6B6B;
}

.casino-box-menuItemSelected {
    background-color: #0C369A;
    color: #FFF;
}

.casino-text-menuItemIcon {
    display: inline-block;
    width: 40px;
    height: 35px;
    text-align: center;
}

.casino-text-menuItemLabel {
    color: #FFF;
    font-size: 85%;
}
