body {
    background-color: #101928;
}

/* box whose elements are aligned horizontally (similar to bootstrap form-group) */
/*.hBox button, .hBox span {*/
    /*display: inline-block;*/
/*}*/

/* utils */
.vmargin-small {margin-top: 6px}

.vmargin-normal {margin-top: 10px}

.vmargin-big {margin-top: 15px}

button:focus {outline: 0}

.hidden {display: none}

.invisible, .hide {visibility: hidden}

.bold {font-weight: bold}

.box-darkBlue {
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#101928;
}

.cls2{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#1e293e;
}

.cls3{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#2d415c;
}

.cls4{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#679a01;
}

.cls5{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#ff9900;
}

.cls6{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#ff3300;
}

.clsa{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#101928;
}

.clsb{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#1e293e;
}

.clsc{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#2d415c;
}

.clsd{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#2d415c;
}

.clse{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#435772;
}

.clsf{
    width:100%;
    line-height:60px;
    text-align: center;
    background-color:#607d8b;
    font-weight: normal;
}

.text-title {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #497d92;
}

.titulo2 {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-size: 18px;
    color: #99ccff;
}

.titulo3 {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-size: 18px;
    color: #FFF;
}

.titulo4 {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}

.titulo5 {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-size: 18px;
    color: #FFF;
}

.titulo6 {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
}

.textoa {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #ff9900;
}

.textob {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 18px;
    color: #99ccff;
}

.textoc {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 12px;
    color: #99ccff;
}

.textod {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #FFF;
}

.textoe {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #FFF;
}

.textof {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #FFF;
}
.textodamarelo {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #ffcc00;
}
.textodamarelobold {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #ffcc00;
    font-weight: bold;
}
.textoazul {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #99ccff;
}
.textoverde {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 14px;
    color: #99cc00;
    font-weight: bold;
}
