.profile {
  overflow: hidden; }
  .profile .alert {
    float: left;
    color: black;
    padding-top: 10px;
    width: 100%; }
  .profile .alert-info {
    font-size: 11px;
    color: #ff9900; }
  .profile .profile-table table {
    width: 100%;
    margin-top: 10px; }
    .profile .profile-table table th {
      font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
      color: #4a7fb3;
      font-weight: normal;
      font-size: 14px;
      height: 25px; }
    .profile .profile-table table td {
      font-weight: bold;
      color: #71aa30;
      height: 25px; }
  .profile .profile-2table table {
    width: 100%;
    margin-top: 10px; }
    .profile .profile-2table table th {
      font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
      color: #4a7fb3;
      font-weight: normal;
      font-size: 14px;
      height: 25px; }
    .profile .profile-2table table td {
      color: grey;
      height: 25px; }
  .profile > .header {
    background-color: #4a7fb3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    line-height: 40px;
    padding: 0 20px;
    vertical-align: middle; }
    .profile > .header i {
      float: right;
      line-height: 40px;
      margin-left: 15px; }
      .profile > .header i .fa-times {
        font-size: 18px; }
    .profile > .header i:hover {
      cursor: pointer;
      color: #cccccc; }
    .profile > .header .user_id {
      float: right; }
  .profile > .top-nav {
    background-color: #4a7fb3;
    color: #ffffff;
    font-size: 16px;
    height: 35px;
    line-height: 30px;
    padding: 0 20px;
    vertical-align: middle; }
    .profile > .top-nav .btn {
      float: left;
      border: 0;
      color: #99ccff;
      font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
      padding: 0;
      text-align: left;
      font-size: 13px;
      line-height: 35px;
      background-color: #4a7fb3; }
      .profile > .top-nav .btn:hover {
        color: #cce6ff;
        background-color: transparent; }
      .profile > .top-nav .btn:focus, .profile > .top-nav .btn:active {
        box-shadow: none;
        outline: 0; }
    .profile > .top-nav .sel {
      color: #ffffff;
      font-weight: bold; }
    .profile > .top-nav .bloco {
      float: left; }
    .profile > .top-nav .small {
      width: 14%; }
    .profile > .top-nav .big {
      text-align: center;
      width: 22%; }
  .profile > .profile-sidebar {
    border-left: 2px solid #4a7fb3;
    width: 25%;
    background-color: #dddddd;
    float: left;
    margin-bottom: -5000px;
    /* any large number will do */
    padding-bottom: 5000px; }
    .profile > .profile-sidebar .bloco {
      font-family: "Open Sans", "Droid Sans", sans-serif;
      padding-left: 12px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      background-color: transparent;
      border-left: 5px solid #aaaaaa; }
      .profile > .profile-sidebar .bloco.sel {
        background-color: #FFF;
        border-left: 5px solid #4a7fb3; }
    .profile > .profile-sidebar .btn {
      border: 0;
      color: #999999;
      float: left;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      font-size: 15px;
      line-height: 40px;
      padding: 0;
      text-align: left; }
      .profile > .profile-sidebar .btn.sel {
        background-color: #FFF;
        color: #4a7fb3;
        font-weight: bold; }
      .profile > .profile-sidebar .btn:hover {
        background-color: transparent;
        color: #4a7fb3;
        font-weight: bold; }
      .profile > .profile-sidebar .btn:focus, .profile > .profile-sidebar .btn:active {
        box-shadow: none;
        outline: 0; }
  .profile .valido {
    font-family: "Open Sans", "Droid Sans", sans-serif;
    color: #71aa30;
    font-size: 14px; }
  .profile .pendente {
    font-family: "Open Sans", "Droid Sans", sans-serif;
    color: darkorange;
    font-size: 14px; }
  .profile .invalido {
    font-family: "Open Sans", "Droid Sans", sans-serif;
    color: darkred;
    font-size: 14px; }
  .profile .icon {
    float: right; }
  .profile .grupo {
    margin-bottom: 20px; }
    .profile .grupo label {
      width: calc(100% / 4);
      float: left;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      color: #4a7fb3;
      font-weight: bold;
      font-size: 14px; }
    .profile .grupo .grupo-title {
      float: left;
      width: 70%;
      font-weight: bold;
      color: #4a7fb3;
      font-size: 14px; }
    .profile .grupo input.settings-switch:checked + label:before {
      background-color: #4a7fb3; }
    .profile .grupo input.settings-switch:checked + label:after {
      margin-left: 10px; }
    .profile .grupo input.settings-switch + label {
      background: none;
      border-radius: 10px;
      height: 17px;
      margin: 0;
      max-width: none;
      padding: 2px;
      top: 1px;
      width: 26px; }
      .profile .grupo input.settings-switch + label:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 10px;
        -webkit-transition: background 0.4s;
        transition: background 0.4s; }
      .profile .grupo input.settings-switch + label:after {
        width: 13px;
        height: 13px;
        margin: 1px 0;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        -webkit-transition: margin 0.4s;
        transition: margin 0.4s; }
    .profile .grupo input {
      display: none;
      text-align: center;
      margin-left: -10px;
      height: 28px;
      border: 1px solid lightgrey;
      border-radius: 6px;
      background-color: #FFF;
      color: gray;
      font-size: 14px;
      padding-left: 10px; }
    .profile .grupo input.disabled {
      text-align: center;
      border: none;
      float: left;
      font-weight: bold;
      margin-left: -10px;
      height: 28px;
      background-color: #FFF;
      color: gray;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 10px; }
    .profile .grupo input[type="submit"] {
      font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
      font-weight: bold;
      font-size: 13px;
      color: #ffffff;
      float: right;
      background: #71aa30;
      height: 25px;
      border: none;
      border-radius: 6px;
      width: 85px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px; }
  .profile .docs .texto {
    line-height: 24px; }
  .profile .docs a {
    float: left; }
  .profile .docs img {
    float: right; }
  .profile .codes .input-group i {
    position: absolute;
    top: 5px;
    right: -14px; }
  .profile .settings {
    padding-top: 20px; }
    .profile .settings .grupo {
      padding: 0 30px; }
  .profile .history {
    font-family: "Open Sans", "Droid Sans", sans-serif;
    padding-top: 20px;
    color: #4a7fb3; }
    .profile .history .grupo {
      padding: 0 10px; }
      .profile .history .grupo .grupo-title {
        color: #999999; }
      .profile .history .grupo.active .grupo-title {
        color: #4a7fb3; }
    .profile .history.dates {
      padding-top: 40px; }
      .profile .history.dates .form-group {
        margin-bottom: 10px; }
      .profile .history.dates .input-group {
        padding: 0 10px; }
      .profile .history.dates input {
        padding: 5px;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        text-indent: 5px; }
    .profile .history .header {
      font-size: 13px;
      font-weight: bold; }
    .profile .history .place .row {
      margin: 0 -5px; }
      .profile .history .place .row .col-xs-3 {
        padding: 0 5px; }
    .profile .history .place > div:nth-child(1) {
      border-top: 1px solid #cccccc; }
    .profile .history .place > div {
      line-height: 40px;
      min-height: 40px;
      border-bottom: 1px solid #cccccc; }
    .profile .history .place > .row:nth-child(even) {
      background: #ffffff; }
    .profile .history .place > .row:nth-child(odd) {
      background: #eeeeee; }
    .profile .history .place .bag {
      clear: both;
      border-top: 1px solid #cccccc; }
      .profile .history .place .bag .details {
        font-size: 13px;
        margin: 10px 10px;
        background: #2d415c;
        color: #ffffff;
        line-height: 20px;
        padding: 10px; }
        .profile .history .place .bag .details .result,
        .profile .history .place .bag .details .total {
          text-align: right;
          font-weight: bold; }
        .profile .history .place .bag .details .line {
          font-weight: bold; }
          .profile .history .place .bag .details .line.market {
            font-weight: normal; }
        .profile .history .place .bag .details .game {
          font-size: 12px;
          color: #6d98c3; }
        .profile .history .place .bag .details .pushed i {
          color: orange; }
        .profile .history .place .bag .details .won i {
          color: green; }
        .profile .history .place .bag .details .loss i {
          color: red; }
  .profile .date {
    position: relative; }
    .profile .date button {
      position: absolute;
      right: 20px;
      top: 5px;
      z-index: 3; }
  .profile > .profile-content {
    background-color: #FFF;
    border-right: 2px solid #4a7fb3;
    float: right;
    padding: 20px 30px;
    width: 75%;
    min-height: 600px;
    font-size: 12px;
    color: #999999; }
    .profile > .profile-content form label {
      font-weight: normal;
      font-size: 13px;
      color: #4a7fb3;
      font-family: "Open Sans", "Droid Sans", sans-serif; }
    .profile > .profile-content form input[disabled] {
      background-color: #FFF;
      border: none;
      font-size: 14px;
      padding: 0;
      box-shadow: none; }
    .profile > .profile-content form .form-control {
      border-radius: 6px;
      color: #999999;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      padding: 1px; }
    .profile > .profile-content form .form-control {
      margin-left: -10px;
      text-indent: 8px;
      width: calc(100% + 10px); }
      .profile > .profile-content form .form-control[disabled] {
        margin: 0;
        text-indent: 0; }
    .profile > .profile-content form .input-group {
      width: 100%; }
      .profile > .profile-content form .input-group i {
        position: absolute;
        top: 5px; }
    .profile > .profile-content form input[type="submit"] {
      background: #71aa30;
      border-radius: 6px;
      border: none;
      color: #ffffff;
      float: right;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      font-size: 13px;
      font-weight: bold;
      height: 25px;
      padding: 0 15px; }
      .profile > .profile-content form input[type="submit"]:hover {
        background-color: #8bca43; }
    .profile > .profile-content form select {
      border: 1px solid #ccc;
      border-radius: 6px;
      line-height: 21px;
      -ms-progress-appearance: unset !important;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      background: url("/assets/portal/img/combodown.gif") no-repeat right #fff !important; }
    .profile > .profile-content form .warning-color {
      font-size: 12px; }
    .profile > .profile-content form .upload img {
      width: 100%;
      height: auto; }
    .profile > .profile-content form .error {
      font-size: 12px;
      display: block; }
    .profile > .profile-content form .icons {
      font-size: 12px; }
      .profile > .profile-content form .icons img {
        width: auto;
        height: 40px; }
    .profile > .profile-content .deposit label {
      color: #999999; }
    .profile > .profile-content .deposit .amount {
      padding-top: 10px; }
    .profile > .profile-content .deposit .tax {
      color: #999999; }
    .profile > .profile-content .deposit .total {
      font-weight: bold;
      color: #71aa30; }
    .profile > .profile-content .deposit .tax, .profile > .profile-content .deposit .total {
      line-height: 30px; }
      .profile > .profile-content .deposit .tax input, .profile > .profile-content .deposit .total input {
        text-align: right;
        line-height: 28px;
        width: 100%; }
    .profile > .profile-content .withdraw-bank .iban {
      padding-left: 40px; }
    .profile > .profile-content .withdraw-bank select {
      font-size: 12px;
      font-family: "Droid Sans Mono", sans-serif;
      color: #999999;
      width: 100%;
      text-indent: 2px; }
    .profile > .profile-content .withdraw-amount {
      padding-top: 10px;
      margin-left: -5px;
      margin-right: -5px; }
      .profile > .profile-content .withdraw-amount .col-xs-3,
      .profile > .profile-content .withdraw-amount .col-xs-4,
      .profile > .profile-content .withdraw-amount .col-xs-5,
      .profile > .profile-content .withdraw-amount .col-xs-12 {
        padding: 0 5px; }
      .profile > .profile-content .withdraw-amount input {
        width: 100%; }
    .profile > .profile-content .bank table.mini {
      font-family: "Open Sans", "Droid Sans", sans-serif;
      font-size: 12px; }
      .profile > .profile-content .bank table.mini th {
        color: #4a7fb3;
        text-align: left; }
      .profile > .profile-content .bank table.mini td {
        color: #999999; }
    .profile > .profile-content .center {
      float: left;
      margin-top: 22px;
      width: 90%; }
      .profile > .profile-content .center .texto {
        margin-top: 10px;
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: gray;
        font-size: 12px; }
      .profile > .profile-content .center .title2 {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: grey;
        font-weight: bold;
        font-size: 16px; }
      .profile > .profile-content .center .title {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: #4a7fb3;
        font-weight: bold;
        font-size: 14px; }
      .profile > .profile-content .center table {
        width: 100%; }
      .profile > .profile-content .center .borderless td, .profile > .profile-content .center .borderless th {
        border: none;
        color: grey;
        font-size: 14px; }
    .profile > .profile-content .left {
      float: left;
      width: calc(100% / 2); }
      .profile > .profile-content .left img.icon {
        margin-top: -20px;
        position: absolute;
        margin-left: 140px; }
      .profile > .profile-content .left .title {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: #4a7fb3;
        font-weight: bold;
        font-size: 14px; }
      .profile > .profile-content .left .input-title {
        margin-top: 10px;
        font-size: 13px;
        color: #4a7fb3;
        font-family: "Open Sans", "Droid Sans", sans-serif; }
      .profile > .profile-content .left input {
        margin-left: -10px;
        width: 200px;
        height: 28px;
        margin-top: 5px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        background-color: #FFF;
        color: dimgrey;
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 10px; }
      .profile > .profile-content .left input[type="submit"] {
        font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        float: right;
        background: #71aa30;
        height: 25px;
        border: none;
        border-radius: 6px;
        width: 85px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px; }
    .profile > .profile-content .profright {
      float: left;
      width: calc(100% / 2); }
      .profile > .profile-content .profright img.icon {
        margin-top: -20px;
        position: absolute;
        margin-left: 140px; }
      .profile > .profile-content .profright .valido {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: #71aa30;
        font-size: 14px; }
      .profile > .profile-content .profright .pendente {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: darkorange;
        font-size: 14px; }
      .profile > .profile-content .profright .invalido {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: darkred;
        font-size: 14px; }
      .profile > .profile-content .profright .title {
        font-family: "Open Sans", "Droid Sans", sans-serif;
        color: #4a7fb3;
        font-weight: bold;
        font-size: 14px; }
      .profile > .profile-content .profright .input-title {
        margin-top: 10px;
        font-size: 13px;
        color: #4a7fb3;
        font-family: "Open Sans", "Droid Sans", sans-serif; }
      .profile > .profile-content .profright input {
        margin-left: -10px;
        width: 200px;
        height: 28px;
        margin-top: 5px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        background-color: #FFF;
        color: dimgrey;
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 10px; }
      .profile > .profile-content .profright select {
        margin-left: -10px;
        width: 200px;
        height: 28px;
        margin-top: 5px;
        border: 1px solid lightgrey;
        border-radius: 6px;
        color: dimgrey;
        font-size: 14px;
        margin-bottom: 10px;
        padding-left: 10px;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        background: url("/assets/portal/img/combodown.gif") no-repeat right #fff; }
      .profile > .profile-content .profright input.disabled {
        margin-top: 5px;
        border: none;
        background-color: #FFF;
        color: dimgrey;
        font-size: 14px;
        margin-bottom: 20px; }
      .profile > .profile-content .profright input[type="submit"] {
        font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        float: right;
        background: #71aa30;
        height: 25px;
        border: none;
        border-radius: 6px;
        width: 85px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .profile > .profile-content .profright .profile-info {
        font-size: 13px;
        color: #4a7fb3;
        font-family: "Open Sans", "Droid Sans", sans-serif; }
    .profile > .profile-content .profile-button-right {
      margin-top: 20px;
      float: right; }
    .profile > .profile-content a {
      color: #4a7fb3; }
    .profile > .profile-content .title {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 20px;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      color: #4a7fb3;
      font-weight: bold;
      font-size: 14px; }
    .profile > .profile-content .texto {
      width: 90%;
      font-family: "Open Sans", "Droid Sans", sans-serif;
      color: grey;
      font-size: 12px; }
    .profile > .profile-content .old select.grande {
      width: 90% !important; }
    .profile > .profile-content .old textarea {
      color: grey;
      width: 100%;
      height: 150px;
      font-size: 12px;
      font-weight: normal; }
    .profile > .profile-content .old input {
      margin-left: -10px;
      width: 200px;
      height: 28px;
      margin-top: 5px;
      border: 1px solid lightgrey;
      border-radius: 6px;
      background-color: #FFF;
      color: dimgrey;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 10px; }
    .profile > .profile-content .old input[type="number"] {
      width: 50px;
      height: 28px;
      margin-top: 5px;
      border: 1px solid lightgrey;
      border-radius: 6px;
      background-color: #FFF;
      color: grey;
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .profile > .profile-content .old span {
      color: grey;
      font-size: 12px; }
  .profile > .profile-footer {
    background: #101928;
    clear: both;
    position: relative;
    width: 100%;
    z-index: 1; }
    .profile > .profile-footer .line {
      height: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border: 2px solid #4a7fb3;
      border-top: none;
      background: #ffffff; }
      .profile > .profile-footer .line .left-side {
        height: 100%;
        width: calc(25% - 1px);
        border-bottom-left-radius: 6px;
        background: #dddddd; }

/*# sourceMappingURL=profile.css.map */
