.register {
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register i {
    opacity: 0.2 !important;
    filter: alpha(opacity=50) !important;
    /* For IE8 and earlier */ }
  .register .title {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register .title i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register .title i .fa-times {
        font-size: 18px; }
    .register .title i:hover {
      cursor: pointer; }
  .register > .content {
    padding: 8px;
    background-color: white; }
    .register > .content .header {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #ff9900;
      line-height: 40px;
      padding: 0 8px; }
    .register > .content > .row {
      padding: 0 8px;
      overflow-y: auto;
      overflow-x: hidden; }
      .register > .content > .row > .column {
        width: 50%;
        float: left; }
        .register > .content > .row > .column > .row {
          line-height: 30px;
          overflow-y: auto;
          overflow-x: hidden;
          position: relative; }
          .register > .content > .row > .column > .row label {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 11px;
            width: 40%;
            float: left;
            color: black;
            display: inline-block; }
          .register > .content > .row > .column > .row .field {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 12px;
            width: 60%;
            float: left;
            padding-top: 5px;
            background-color: #FFF; }
            .register > .content > .row > .column > .row .field.top {
              padding-top: 0; }
              .register > .content > .row > .column > .row .field.top i {
                position: absolute;
                right: 6px;
                top: 4px; }
            .register > .content > .row > .column > .row .field.birth-date select {
              width: 33.3333333%; }
            .register > .content > .row > .column > .row .field input[type="text"],
            .register > .content > .row > .column > .row .field input[type="password"],
            .register > .content > .row > .column > .row .field input[type="email"] {
              float: left;
              border: 1px solid black;
              border-radius: 6px !important;
              width: 100%; }
            .register > .content > .row > .column > .row .field select {
              float: left;
              border-radius: 6px !important;
              border: 1px solid lightgray !important;
              height: 20px;
              min-width: 50px;
              background-color: #FFF;
              width: 100%; }
            .register > .content > .row > .column > .row .field .fa-check-circle {
              position: absolute;
              font-size: 1.4em;
              margin-left: -20px;
              margin-top: 2px; }
            .register > .content > .row > .column > .row .field .fa-exclamation-circle {
              font-size: 1.4em;
              margin-left: -20px;
              margin-top: 2px; }
            .register > .content > .row > .column > .row .field .warning-color {
              color: red; }
            .register > .content > .row > .column > .row .field .success-color {
              color: green; }
    .register > .content .bs-wp {
      padding: 0 16px; }
      .register > .content .bs-wp .col-xs-3,
      .register > .content .bs-wp .col-xs-4,
      .register > .content .bs-wp .col-xs-5,
      .register > .content .bs-wp .col-xs-6 {
        padding: 0 5px; }
      .register > .content .bs-wp label {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 11px;
        color: black;
        font-weight: normal; }
      .register > .content .bs-wp input[type="text"] {
        width: 100%;
        border: 1px solid black;
        border-radius: 6px !important;
        height: 21px;
        font-size: 12px; }
      .register > .content .bs-wp .agreement {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 12px;
        line-height: 30px; }
        .register > .content .bs-wp .agreement .check {
          padding-right: 5px;
          padding-top: 5px;
          float: left; }
  .register > .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register > .footer .captcha {
      width: 60%; }
      .register > .footer .captcha * {
        box-sizing: border-box; }
      .register > .footer .captcha .img {
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
        overflow: hidden; }
      .register > .footer .captcha .codigo {
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-radius: 0 10px 10px 0; }
        .register > .footer .captcha .codigo .refresh {
          float: left;
          width: 30px;
          line-height: 40px; }
          .register > .footer .captcha .codigo .refresh button {
            height: 40px;
            border: 0;
            background: none; }
        .register > .footer .captcha .codigo input {
          float: left;
          width: 130px;
          border: none !important;
          height: 40px;
          line-height: 40px; }
    .register > .footer .actions button {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register > .footer .actions button.submit {
        background: #71aa30; }
        .register > .footer .actions button.submit:hover {
          background: #8bca43; }
      .register > .footer .actions button:hover {
        background-color: #e6e6e6; }
  .register .g-recaptcha {
    padding-top: 10px; }

.register_step2 {
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register_step2 i {
    opacity: 0.2 !important;
    filter: alpha(opacity=50) !important;
    /* For IE8 and earlier */ }
  .register_step2 > .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register_step2 > .header i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register_step2 > .header i .fa-times {
        font-size: 18px; }
    .register_step2 > .header i:hover {
      cursor: pointer; }
  .register_step2 > .content {
    padding: 8px;
    background-color: white; }
    .register_step2 > .content > .header .step {
      float: left;
      line-height: 44px;
      width: 50%;
      background-color: #ccc;
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
      font-size: 18px;
      color: #FFF;
      border-right: 1px solid #FFF; }
      .register_step2 > .content > .header .step.selected {
        background-color: #fff; }
    .register_step2 > .content > .icon {
      text-align: center; }
    .register_step2 > .content .fa-check-circle {
      font-size: 1.5em;
      margin-top: 60px;
      color: green; }
    .register_step2 > .content .fa-exclamation-circle {
      color: darkorange;
      font-size: 1.5em;
      margin-top: 15px; }
    .register_step2 > .content > .header {
      padding-top: 10px;
      padding-left: 70px;
      padding-right: 70px;
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 16px;
      color: #666666; }
    .register_step2 > .content > .upload {
      padding-left: 8px;
      padding-right: 15px;
      padding-bottom: 10px;
      font-weight: bold;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 18px;
      color: #ff9900; }
    .register_step2 > .content > .column {
      width: 50%;
      float: left; }
  .register_step2 > .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register_step2 > .footer .actions button {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register_step2 > .footer .actions button.submit {
        background: #71aa30; }

.register_step3 {
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register_step3 .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register_step3 .header i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register_step3 .header i .fa-times {
        font-size: 18px; }
    .register_step3 .header i:hover {
      cursor: pointer; }
  .register_step3 .content {
    padding: 8px 40px;
    background-color: white;
    font-family: 'Open Sans', 'Droid Sans', sans-serif; }
    .register_step3 .content .title {
      font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
      text-align: center;
      font-weight: bold;
      color: #666;
      padding: 10px 0;
      font-size: 17px; }
    .register_step3 .content > .icon {
      text-align: center; }
    .register_step3 .content .fa {
      font-size: 1.5em;
      padding-top: 40px;
      color: #4b802a; }
    .register_step3 .content .message {
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 16px;
      color: #666666; }
    .register_step3 .content .icons {
      font-size: 12px; }
    .register_step3 .content .field {
      padding: 10px 0;
      font-size: 13px;
      color: #666; }
      .register_step3 .content .field i {
        position: absolute;
        right: 20px;
        top: 0;
        padding-top: 2px;
        opacity: .5;
        filter: alpha(opacity=50) !important;
        /* For IE8 and earlier */ }
      .register_step3 .content .field input {
        color: #666;
        width: 100%;
        border-radius: 6px;
        text-align: right;
        padding-right: 10px; }
  .register_step3 .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register_step3 .footer .header {
      text-align: center;
      font-weight: bold;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 18px;
      color: #666666; }
    .register_step3 .footer .actions button {
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register_step3 .footer .actions button.deposit {
        background: #fea900; }
      .register_step3 .footer .actions button.finish {
        background: #71aa30; }

/*# sourceMappingURL=register.css.map */
