.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.font-title {
  font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif; }

.font-text {
  font-family: "Open Sans", "Droid Sans", sans-serif; }

/* Personalise Popup */
.sweet-alert.caspt {
  font-family: "Open Sans", "Droid Sans", sans-serif; }
  .sweet-alert.caspt .sa-icon {
    position: absolute;
    top: calc(50% - 40px);
    margin: 0; }
  .sweet-alert.caspt h2, .sweet-alert.caspt p, .sweet-alert.caspt fieldset {
    margin: 0 0 0 100px; }
  .sweet-alert.caspt .sa-error-container, .sweet-alert.caspt .sa-button-container {
    text-align: right;
    margin: 0 0 0 100px; }
  .sweet-alert.caspt button.confirm {
    background-color: #71aa30 !important; }
    .sweet-alert.caspt button.confirm:hover {
      background-color: #71aa30 !important; }

.popup-alert .modal-dialog {
  width: 440px;
  margin: 10px auto;
  top: 300px; }

.popup-alert .modal-body {
  font-family: "Open Sans", "Droid Sans", sans-serif;
  font-size: 14px;
  min-height: 80px;
  color: #9a9a9a; }
  .popup-alert .modal-body .icon {
    float: left;
    width: 25%; }
  .popup-alert .modal-body .msg {
    float: left;
    width: 75%;
    margin-bottom: 20px; }

.popup-alert .modal-footer {
  border-top: none; }
  .popup-alert .modal-footer button {
    font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    float: right;
    margin: 0 5px;
    background: #71aa30;
    height: 40px;
    border: none;
    border-radius: 6px;
    width: 110px; }
    .popup-alert .modal-footer button:hover {
      background: #8bca43; }

.register {
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register i {
    opacity: 0.4 !important;
    filter: alpha(opacity=50) !important;
    /* For IE8 and earlier */ }
  .register .title {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register .title i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register .title i .fa-times {
        font-size: 18px; }
    .register .title i:hover {
      cursor: pointer; }
  .register > .content {
    padding: 8px;
    background-color: white; }
    .register > .content .header {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #ff9900;
      line-height: 40px;
      padding: 0 8px; }
    .register > .content > .row {
      padding: 0 8px;
      overflow-y: auto;
      overflow-x: hidden; }
      .register > .content > .row > .column {
        width: 50%;
        float: left; }
        .register > .content > .row > .column > .row {
          line-height: 30px;
          overflow-y: auto;
          overflow-x: hidden;
          position: relative; }
          .register > .content > .row > .column > .row label {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 11px;
            width: 40%;
            float: left;
            color: black;
            display: inline-block; }
          .register > .content > .row > .column > .row .field {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 12px;
            width: 60%;
            float: left;
            padding-top: 5px;
            background-color: #FFF; }
            .register > .content > .row > .column > .row .field.top {
              padding-top: 0; }
              .register > .content > .row > .column > .row .field.top i {
                position: absolute;
                right: 6px;
                top: 4px; }
            .register > .content > .row > .column > .row .field.birth-date select {
              width: 33.3333333%; }
            .register > .content > .row > .column > .row .field input[type="text"],
            .register > .content > .row > .column > .row .field input[type="password"],
            .register > .content > .row > .column > .row .field input[type="email"] {
              float: left;
              border: 1px solid black;
              border-radius: 6px;
              width: 100%; }
            .register > .content > .row > .column > .row .field select {
              float: left;
              border-radius: 6px;
              border: 1px solid lightgray !important;
              height: 20px;
              min-width: 50px;
              background-color: #FFF;
              width: 100%; }
    .register > .content .bs-wp {
      padding: 0 16px; }
      .register > .content .bs-wp .col-xs-3,
      .register > .content .bs-wp .col-xs-4,
      .register > .content .bs-wp .col-xs-5,
      .register > .content .bs-wp .col-xs-6 {
        padding: 0 5px; }
      .register > .content .bs-wp label {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 11px;
        color: black;
        font-weight: normal; }
      .register > .content .bs-wp input[type="text"] {
        width: 100%;
        border: 1px solid black;
        border-radius: 6px;
        height: 21px;
        font-size: 12px; }
      .register > .content .bs-wp .agreement {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 12px;
        line-height: 30px;
        margin-left: -24px;
        /* change later*/ }
        .register > .content .bs-wp .agreement .check {
          padding-right: 5px;
          padding-top: 5px;
          float: left; }
        .register > .content .bs-wp .agreement .fa-exclamation-circle,
        .register > .content .bs-wp .agreement .fa-check-circle {
          margin-left: 5px; }
  .register .fa-exclamation-circle,
  .register .fa-check-circle {
    font-size: 1.4em;
    margin-left: -20px;
    margin-top: 2px; }
  .register .warning-color {
    color: red; }
  .register .success-color {
    color: green; }
  .register > .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register > .footer .captcha {
      width: 60%; }
      .register > .footer .captcha * {
        box-sizing: border-box; }
      .register > .footer .captcha .img {
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-radius: 6px 0 0 6px;
        overflow: hidden; }
      .register > .footer .captcha .codigo {
        position: relative;
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 6px 6px 0; }
        .register > .footer .captcha .codigo .refresh {
          float: left;
          width: 30px;
          line-height: 40px; }
          .register > .footer .captcha .codigo .refresh button {
            height: 40px;
            border: 0;
            background: none; }
        .register > .footer .captcha .codigo input {
          float: left;
          width: 130px;
          border: none !important;
          height: 40px;
          line-height: 40px; }
        .register > .footer .captcha .codigo span {
          position: absolute;
          bottom: 0;
          left: 0; }
    .register > .footer .actions button {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register > .footer .actions button.submit {
        background: #71aa30; }
        .register > .footer .actions button.submit:hover {
          background: #8bca43; }
      .register > .footer .actions button:hover {
        background-color: #e6e6e6; }
  .register .g-recaptcha {
    padding-top: 10px; }

.register_step2 {
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register_step2 i {
    opacity: 0.2 !important;
    filter: alpha(opacity=50) !important;
    /* For IE8 and earlier */ }
  .register_step2 > .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register_step2 > .header i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register_step2 > .header i .fa-times {
        font-size: 18px; }
    .register_step2 > .header i:hover {
      cursor: pointer; }
  .register_step2 > .content {
    padding: 8px;
    background-color: white; }
    .register_step2 > .content > .header .step {
      float: left;
      line-height: 44px;
      width: 50%;
      background-color: #ccc;
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
      font-size: 18px;
      color: #FFF;
      border-right: 1px solid #FFF; }
      .register_step2 > .content > .header .step.selected {
        background-color: #fff; }
    .register_step2 > .content > .icon {
      text-align: center; }
    .register_step2 > .content .fa-check-circle {
      font-size: 1.5em;
      margin-top: 60px;
      color: green; }
    .register_step2 > .content .fa-exclamation-circle {
      color: darkorange;
      font-size: 1.5em;
      margin-top: 15px; }
    .register_step2 > .content > .header {
      padding-top: 10px;
      padding-left: 70px;
      padding-right: 70px;
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 16px;
      color: #666666; }
    .register_step2 > .content > .upload {
      padding-left: 8px;
      padding-right: 15px;
      padding-bottom: 10px;
      font-weight: bold;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 18px;
      color: #ff9900; }
    .register_step2 > .content > .column {
      width: 50%;
      float: left; }
  .register_step2 > .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register_step2 > .footer .actions button {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register_step2 > .footer .actions button.submit {
        background: #71aa30; }

.register_step3 {
  background: #ffffff;
  border: 2px solid #ff9900;
  border-radius: 6px; }
  .register_step3 .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;
    color: #FFF;
    background-color: #ff9900;
    padding: 0px 20px; }
    .register_step3 .header i {
      float: right;
      line-height: 44px;
      margin-left: 15px; }
      .register_step3 .header i .fa-times {
        font-size: 18px; }
    .register_step3 .header i:hover {
      cursor: pointer; }
  .register_step3 .content {
    padding: 8px;
    background-color: white;
    font-family: 'Open Sans', 'Droid Sans', sans-serif; }
    .register_step3 .content .center {
      padding: 0 30px; }
    .register_step3 .content .title {
      font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
      text-align: center;
      font-weight: bold;
      color: #666;
      padding: 10px 0;
      font-size: 17px; }
    .register_step3 .content > .icon {
      text-align: center; }
    .register_step3 .content .fa {
      font-size: 1.5em;
      padding-top: 40px;
      color: #4b802a; }
    .register_step3 .content .message {
      text-align: center;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 16px;
      color: #666666; }
    .register_step3 .content .icons {
      font-size: 12px; }
    .register_step3 .content .field {
      padding: 10px 0;
      font-size: 13px;
      color: #666; }
      .register_step3 .content .field i {
        position: absolute;
        right: 20px;
        top: 0;
        padding-top: 2px;
        opacity: .5;
        filter: alpha(opacity=50) !important;
        /* For IE8 and earlier */ }
      .register_step3 .content .field input {
        color: #666;
        width: 100%;
        border-radius: 6px;
        text-align: right;
        padding-right: 10px; }
  .register_step3 .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px; }
    .register_step3 .footer .header {
      text-align: center;
      font-weight: bold;
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 18px;
      color: #666666; }
    .register_step3 .footer .actions button {
      font-family: 'Open Sans', 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: #ccc;
      height: 40px;
      border: none;
      border-radius: 6px;
      width: 110px; }
      .register_step3 .footer .actions button.deposit {
        background: #fea900; }
      .register_step3 .footer .actions button.finish {
        background: #71aa30; }

.breadcrumb {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
  /*centering*/
  display: inline-block;
  overflow: hidden;
  border-radius: 0px;
  padding-left: 8px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/ }
  .breadcrumb a {
    outline: none;
    display: block;
    text-indent: 0;
    float: left;
    font-size: 13px;
    line-height: 45px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0;
    background: #ff9900;
    position: relative;
    width: 33.3333333333%;
    /*hover/active styles*/ }
    .breadcrumb a:first-child {
      border-radius: 5px 0 0 5px;
      /*to match with the parent's radius*/
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
      height: 45px;
      font-size: 14px; }
      .breadcrumb a:first-child:before {
        left: 14px; }
    .breadcrumb a:last-child {
      border-radius: 0 5px 5px 0;
      /*this was to prevent glitches on hover*/
      padding: 1px;
      color: #FFF;
      height: 0px;
      background: #FFF; }
    .breadcrumb a.active, .breadcrumb a:hover {
      background: #ff9900;
      background: -webkit-linear-gradient(#333, #000);
      background: linear-gradient(#333, #000);
      color: white; }
    .breadcrumb a.active:after, .breadcrumb a:hover:after {
      background: #333;
      background: -webkit-linear-gradient(315deg, #333, #000);
      background: linear-gradient(135deg, #333, #000); }
    .breadcrumb a:after {
      content: '';
      position: absolute;
      top: 0;
      right: -18px;
      /*half of square's length*/
      /*same dimension as the line-height of .breadcrumb a */
      width: 45px;
      height: 45px;
      /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
      length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
      if diagonal required = 1; length = 1/1.414 = 0.707*/
      -webkit-transform: scale(0.707) rotate(45deg);
      transform: scale(0.707) rotate(45deg);
      /*we need to prevent the arrows from getting buried under the next link*/
      z-index: 1;
      /*background same as links but the gradient will be rotated to compensate with the transform applied*/
      background: #666;
      background: -webkit-linear-gradient(315deg, #666, #333);
      background: linear-gradient(135deg, #666, #333);
      /*stylish arrow design using box shadow*/
      box-shadow: 2px -2px 0 2px white, 3px -3px 0 2px white;
      /*
          5px - for rounded arrows and
          50px - to prevent hover glitches on the border created using shadows*/
      border-radius: 0 5px 0 50px; }
    .breadcrumb a:last-child:after {
      content: none; }

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
/*we dont need an arrow after the last link*/
/*we will use the :before element to show numbers*/
.flat a {
  background: lightgrey;
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 45px; }
  .flat a:after {
    background: lightgrey;
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 45px; }
  .flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important; }
  .flat a:hover, .flat a.active, .flat a:hover:after, .flat a.active:after {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
    background: #ff9900; }
  .flat a:last-child.active {
    border-radius: 0 5px 5px 0;
    /*this was to prevent glitches on hover*/
    padding: 0px;
    color: #FFF;
    background: #FFF;
    height: 0px; }

/*# sourceMappingURL=register.css.map */
