.font-title, .breadcrumb, .markets-box-navigation, .markets-box-marketsHeader, .markets-box-marketTitle, .menuLive .sport, .sportsMenu-interval .header {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif; }

.font-text, .markets-table-market .header .selection, .menuLive .region, .menuLive table, .sportsMenu-interval .content {
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif; }

/* Slider */
.carousel {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
  /* Legend */
  /* Contents */
  /* Switch */
  /* Animation */ }

@-webkit-keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes load {
  from {
    left: -100%; }
  to {
    left: 0; } }
  .carousel .slides {
    width: 400%;
    height: 100%;
    position: relative;
    -webkit-animation: slide 30s infinite;
    animation: slide 30s infinite; }
  .carousel .slider {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
    overflow: hidden; }
  .carousel .slide img {
    width: 100%;
    height: 100%; }
  .carousel .slide img {
    width: 100%;
    height: 100%; }
  .carousel .image {
    width: 100%;
    height: 100%; }
  .carousel .image img {
    width: 100%;
    height: 100%; }
  .carousel .legend {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, 0.7);
    border-bottom: 0;
    position: absolute;
    bottom: 0; }
  .carousel .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
  .carousel .content-txt {
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
    top: 300px;
    -webkit-animation: content-s 7.5s infinite;
    animation: content-s 7.5s infinite; }
  .carousel .content-txt h1 {
    font-family: Intro;
    font-size: 24px;
    color: #fff;
    text-align: left;
    margin-left: 30px;
    padding-bottom: 10px; }
  .carousel .content-txt h2 {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    text-align: left;
    margin-left: 30px; }
  .carousel .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 45px;
    z-index: 99;
    left: 5px; }
  .carousel .switch > ul {
    list-style: none; }
  .carousel .switch > ul > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    float: left;
    margin-right: 5px;
    cursor: pointer; }
  .carousel .switch ul {
    overflow: hidden; }
  .carousel .on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f39c12;
    position: relative;
    -webkit-animation: on 30s infinite;
    animation: on 30s infinite; }

@-webkit-keyframes slide {
  0%, 100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }

@keyframes slide {
  0%, 100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  46% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  71% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  96% {
    margin-left: -300%; } }

@-webkit-keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }

@keyframes content-s {
  0% {
    left: -420px; }
  10% {
    left: 20px; }
  15% {
    left: 0px; }
  30% {
    left: 0px; }
  40% {
    left: 0px; }
  50% {
    left: 0px; }
  60% {
    left: 0px; }
  70% {
    left: 0; }
  80% {
    left: -420px; }
  90% {
    left: -420px; }
  100% {
    left: -420px; } }

@-webkit-keyframes on {
  0%, 100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }

@keyframes on {
  0%, 100% {
    margin-left: 0%; }
  21% {
    margin-left: 0%; }
  25% {
    margin-left: 15px; }
  46% {
    margin-left: 15px; }
  50% {
    margin-left: 30px; }
  71% {
    margin-left: 30px; }
  75% {
    margin-left: 45px; }
  96% {
    margin-left: 45px; } }

.breadcrumb {
  font-size: 18px;
  color: #99ccff;
  line-height: 46px;
  margin: 8px 0;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .breadcrumb .selected {
    color: #FFF; }

.betslip-container {
  float: left;
  color: #fff;
  width: 310px;
  text-align: center;
  margin-top: 8px; }

.betslip-box.header {
  height: 46px;
  margin-bottom: 8px; }

.betslip-tab {
  float: left;
  width: 50%;
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans',  sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none; }

.betslip-tab.header {
  height: 46px;
  line-height: 46px;
  font-weight: bold;
  color: #497d92;
  background-color: #101928; }

.betslip-tab.header.selected {
  color: #FFF;
  background-color: #ff3300; }

.betslip-box.betType {
  height: 40px; }

.betslip-tab.betType {
  font-size: 18px;
  line-height: 40px;
  color: #99ccff;
  background-color: #1e293e; }

.betslip-tab.corner {
  border-radius: 5px 0 0 0; }

.betslip-tab.betType.selected {
  background-color: #2d415c;
  color: #FFF; }

.betslip-content {
  background: #101928; }

.betslip-box.bet, .betslip-box.event {
  background-color: #2d415c;
  padding: 6px 10px;
  margin-bottom: 4px; }

.betslip-box.simpleFooter, .betslip-box.multiFooter {
  padding: 10px 10px; }

.betslip-box.row {
  text-align: left;
  line-height: 22px;
  min-height: 22px;
  margin: 5px 0; }

.betslip-button.remove {
  float: right;
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  background: none;
  color: #497d92;
  border: none;
  margin-top: 5px; }

.betslip-text, .betslip-text-amount {
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
  font-size: 14px;
  word-break: break-all; }

.betslip-text-amount {
  float: right;
  font-weight: bold;
  color: #FFF; }

.betslip-text.profit.white, .profit.white.betslip-text-amount {
  color: #FFF; }

.betslip-text.gameName, .gameName.betslip-text-amount {
  font-size: 12px;
  color: #99ccff;
  line-height: 120%; }

.betslip-text.marketName, .marketName.betslip-text-amount {
  font-size: 14px;
  color: #FFF; }

.betslip-text.eventName, .eventName.betslip-text-amount, .betslip-text.count, .count.betslip-text-amount, .betslip-text.oddsLabel, .oddsLabel.betslip-text-amount, .betslip-text.amountLabel, .amountLabel.betslip-text-amount {
  font-weight: bold;
  color: #FFF; }

.betslip-text.odds, .odds.betslip-text-amount {
  float: right;
  font-weight: bold;
  color: #ffcc00; }

.betslip-icon-loss {
  font-size: 16px;
  color: #ff3300; }

.betslip-text.win, .win.betslip-text-amount {
  font-size: 16px;
  color: #99cc00; }

.betslip-text.amount, .amount.betslip-text-amount {
  float: right;
  font-weight: bold; }

.betslip-text.count.amount, .count.amount.betslip-text-amount, .betslip-text.profit.amount, .profit.amount.betslip-text-amount {
  float: right; }

.betslip-text.profit, .profit.betslip-text-amount {
  font-weight: bold;
  color: #99cc00; }

.betslip-button.submit, .betslip-button.login {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FFF;
  width: 100%;
  height: 42px;
  border: 0; }

.betslip-button.submit {
  background-color: #679a01; }

.betslip-button.login {
  background-color: #ff9900; }

.betslip-text.tab.selected, .tab.selected.betslip-text-amount {
  font-size: 12px;
  color: #ff9900; }

.betslip-field.amount {
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
  font-weight: bold;
  width: 50px;
  text-align: right;
  font-size: 12px;
  background-color: #607d8b;
  border: none;
  border-radius: 4px;
  padding: 2px 4px; }

.betslip-text.error, .error.betslip-text-amount {
  color: #f00;
  text-align: center; }

.betslip-box.noBets {
  display: table;
  width: 100%;
  height: 70px; }

.betslip-text.noBets, .noBets.betslip-text-amount {
  display: table-cell;
  font-size: 12px;
  color: #99ccff;
  vertical-align: middle; }

.betslip-icon-tab.inactive {
  font-size: 14px;
  color: #99ccff; }

.betslip-icon-tab.active {
  font-size: 18px;
  color: #ff9900; }

.markets-container {
  float: left;
  min-height: 600px;
  color: #fff;
  width: 640px;
  margin: 0 10px; }

.markets-box-navigation {
  font-size: 18px;
  color: #99ccff;
  line-height: 46px;
  margin-bottom: 8px;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .markets-box-navigation .selected {
    color: #FFF; }

.markets-button, .markets-button-selection, .markets-button-favorite, .markets-button-statistics {
  border: 0;
  background: none; }

.markets-button-selection {
  font-size: 14px;
  color: #ffcc00;
  width: 100%;
  height: 42px; }
  .markets-button-selection.selected {
    font-weight: bold;
    border: 2px solid #ff3300; }

.markets-button-favorite, .markets-button-statistics {
  font-size: 12px; }
  .markets-button-favorite.selected, .markets-button-statistics.selected {
    color: #ffcc00; }

.markets-table, .markets-table-fixtures, .markets-table-market {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0;
  text-align: center;
  border-radius: 20px; }

.markets-table-fixtures .header {
  height: 42px;
  font-size: 16px;
  background-color: #1e293e; }
  .markets-table-fixtures .header .date {
    width: 60px;
    border-radius: 5px 0 0; }
  .markets-table-fixtures .header .game {
    width: 200px; }
  .markets-table-fixtures .header .favorite {
    width: 30px; }
  .markets-table-fixtures .header .statistics {
    width: 30px; }
  .markets-table-fixtures .header .separator {
    width: 5px;
    background-color: #101928; }
  .markets-table-fixtures .header .selectionSeparator {
    width: 1px;
    background-color: #101928; }
  .markets-table-fixtures .header .selection {
    font-weight: normal;
    color: #99ccff;
    background-color: #2d415c;
    width: 86px; }
  .markets-table-fixtures .header .marketCount {
    width: 50px;
    border-radius: 0 5px 0 0; }

.markets-table-fixtures .fixture {
  height: 42px;
  background-color: #2d415c; }
  .markets-table-fixtures .fixture .date {
    font-size: 12px;
    color: #99ccff; }
  .markets-table-fixtures .fixture .game {
    text-align: left;
    font-size: 14px;
    color: #FFF;
    cursor: pointer; }
  .markets-table-fixtures .fixture .favorite {
    color: #99ccff; }
  .markets-table-fixtures .fixture .statistics {
    color: #99ccff; }
  .markets-table-fixtures .fixture .separator {
    background-color: #101928; }
    .markets-table-fixtures .fixture .separator.thin {
      background-color: #2d415c; }
  .markets-table-fixtures .fixture .selection {
    background-color: #435772; }
    .markets-table-fixtures .fixture .selection.odd {
      background-color: #536883; }
  .markets-table-fixtures .fixture .marketsCount {
    font-size: 14px;
    background-color: #2d415c;
    color: #99ccff;
    cursor: pointer; }
    .markets-table-fixtures .fixture .marketsCount.marketsCount.odd {
      background-color: #435772; }
  .markets-table-fixtures .fixture .odd {
    background-color: #435772; }

.markets-box-marketsHeader {
  background-color: #1e293e;
  line-height: 42px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  padding-left: 20px; }
  .markets-box-marketsHeader .close {
    float: right;
    margin: 13px 15px 0 0;
    cursor: pointer; }

.markets-box-marketTitle {
  font-size: 16px;
  line-height: 42px;
  margin-top: 5px;
  height: 42px;
  color: #FFF;
  background-color: #4a7fb3;
  padding: 0 20px; }

.markets-table-market {
  border-radius: 0;
  border: 1px solid #4a7fb3; }
  .markets-table-market .header {
    height: 25px;
    background-color: #2d405c; }
    .markets-table-market .header .selection {
      color: #99ccff;
      font-weight: normal;
      font-size: 14px;
      width: 212px; }
    .markets-table-market .header .separator {
      width: 1px; }
  .markets-table-market .row {
    height: 42px; }
    .markets-table-market .row .separator {
      background-color: #2d405c; }
    .markets-table-market .row .selection {
      background-color: #536883; }
      .markets-table-market .row .selection.odd {
        background-color: #2d415c; }

@-webkit-keyframes updated-up-keyframes {
  0% {
    background-color: transparent; }
  50% {
    background-color: green; }
  100% {
    background-color: transparent; } }

@keyframes updated-up-keyframes {
  0% {
    background-color: transparent; }
  50% {
    background-color: green; }
  100% {
    background-color: transparent; } }

@-webkit-keyframes updated-down-keyframes {
  0% {
    background-color: transparent; }
  50% {
    background-color: #ff3300; }
  100% {
    background-color: transparent; } }

@keyframes updated-down-keyframes {
  0% {
    background-color: transparent; }
  50% {
    background-color: #ff3300; }
  100% {
    background-color: transparent; } }

.updated-up {
  -webkit-animation-name: updated-up-keyframes;
  animation-name: updated-up-keyframes;
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }

.updated-down {
  -webkit-animation-name: updated-down-keyframes;
  animation-name: updated-down-keyframes;
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }

.menuLive ul li:first-child .sport:first-child {
  border-radius: 0 5px 0 0; }

.menuLive .sport {
  font-size: 18px;
  line-height: 40px;
  background-color: #1e293e;
  padding: 0 15px;
  color: #99ccff;
  cursor: pointer; }
  .menuLive .sport.selected {
    color: #FFF; }
  .menuLive .sport .expand {
    float: right;
    font-size: 14px;
    line-height: 40px; }
    .menuLive .sport .expand.collapse {
      font-size: 18px;
      color: #ff9900; }

.menuLive .region {
  font-size: 14px;
  background-color: #2d415c;
  padding: 0 15px;
  cursor: pointer;
  color: #FFF;
  line-height: 35px; }
  .menuLive .region .count {
    float: right; }
  .menuLive .region .collapse {
    line-height: 35px;
    font-size: 18px;
    float: right;
    color: #ff9900; }

.menuLive table {
  font-size: 14px;
  min-height: 35px;
  background-color: #1e293e;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0;
  color: #FFF;
  border-bottom: 1px solid #2d415c; }
  .menuLive table.selected {
    background-color: #101928; }
  .menuLive table .favorite {
    text-align: center;
    width: 30px; }
  .menuLive table .fixture {
    cursor: pointer;
    width: 200px; }
    .menuLive table .fixture.selected {
      color: #ff9900; }

.sportsMenu-container {
  float: left;
  width: 230px;
  min-height: 500px;
  margin-top: 8px; }

.sportsMenu-container ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sportsMenu-box.header {
  height: 46px;
  margin-bottom: 8px; }

.sportsMenu-tab {
  float: left;
  width: 50%;
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #497d92;
  border: none;
  background: none;
  padding: 0;
  line-height: 46px; }
  .sportsMenu-tab.selected {
    color: #FFF;
    background-color: #ff3300; }

.sportsMenu-interval .header {
  font-size: 16px;
  background-color: #1e293e;
  padding: 0 15px;
  line-height: 42px;
  cursor: pointer;
  color: #FFF;
  border-radius: 0 5px 0 0; }
  .sportsMenu-interval .header .expand {
    float: right;
    font-size: 14px;
    line-height: 42px;
    color: #99ccff; }
    .sportsMenu-interval .header .expand.collapse {
      color: #ff9900;
      font-size: 18px; }

.sportsMenu-interval .content {
  background-color: #2d415c;
  font-size: 14px;
  overflow: auto;
  zoom: 1;
  padding: 0 15px;
  color: #FFF; }
  .sportsMenu-interval .content .item {
    width: 50%;
    float: left;
    cursor: pointer;
    line-height: 35px;
    padding: 0; }

.sportsMenu-box.menu {
  padding: 0 15px;
  cursor: pointer; }

.sportsMenu-box-highlights, .sportsMenu-box-popular {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 18px;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  background-color: #ff9900; }

.sportsMenu-icon-highlights-right, .sportsMenu-icon-popular-right {
  line-height: 40px;
  font-size: 18px;
  color: #FFF;
  float: right; }

.sportsMenu-box-highlights-submenu {
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
  font-size: 14px;
  background-color: #536883;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 15px;
  cursor: pointer;
  line-height: 35px;
  height: 35px; }

.sportsMenu-box-popular {
  margin-top: 5px; }

.sportsMenu-box-sport {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 18px;
  line-height: 40px;
  background-color: #1e293e;
  padding: 0 15px;
  color: #99ccff;
  cursor: pointer; }

.sportsMenu-box-sport.selected {
  color: #FFF; }

.sportsMenu-text.sub-menu.interval {
  width: 50%;
  float: left;
  cursor: pointer; }

.sportsMenu-box.menu.popular {
  background-color: #ff9900; }

.sportsMenu-box.sub-menu.interval, .sportsMenu-box.menu.competition {
  line-height: 35px; }

.sportsMenu-box.menu.region {
  background-color: #2d415c; }

.sportsMenu-box.menu.competition {
  background-color: #101928;
  padding: 0 15px 0 25px;
  /*line-height: 35px;*/ }

.sportsMenu-text.popular {
  font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 18px; }

.sportsMenu-text {
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
  font-size: 16px;
  color: #FFF; }

.sportsMenu-text.competition {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px; }

.sportsMenu-text.interval.icon, .sportsMenu-text.sub-menu.interval, .sportsMenu-text.competition, .sportsMenu-text.competition.highlight {
  font-size: 14px; }

.sportsMenu-text.competition.selected {
  color: #ff9900; }

.sportsMenu-text.expand, .sportsMenu-text.popular.expand, .sportsMenu-text.sport.expand,
.sportsMenu-text.competition.expand {
  float: right;
  margin-right: 0; }

.sportsMenu-text.sub-menu.interval, .sportsMenu-text.popular.expand {
  color: #FFF; }

.sportsMenu-text.sport.expand, .sportsMenu-text.competition.expand {
  color: #ff9900; }

.sportsMenu-icon-sport.expand {
  font-size: 14px;
  color: #99ccff; }

.sportsMenu-icon-sport.collapse, .sportsMenu-icon-interval.collapse {
  font-size: 18px;
  color: #ff9900; }

.sportsMenu-text-region {
  line-height: 35px;
  font-size: 14px;
  color: #FFF; }

.sportsMenu-icon-region-selected {
  float: right;
  line-height: 35px;
  color: #ff9900; }

.sportsMenu-text-region.count {
  float: right; }

/*# sourceMappingURL=sports.css.map */
