.sportsMenu-container {
    float: left;
    width: 230px;
    min-height: 500px;
    margin-top: 8px;
}

.sportsMenu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sportsMenu-box.header {
    height: 46px;
    margin-bottom: 8px;
}

.sportsMenu-tab {
    float: left;
    width: 50%;
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #497d92;
    border: none;
    background: none;
    padding: 0;
    line-height: 46px;
}

.sportsMenu-tab.selected {
    color: #FFF;
    background-color: #ff3300;
}

.sportsMenu-box.menu {
    padding: 0 15px;
    cursor: pointer;
}

.sportsMenu-box.menu.today {
    line-height: 42px;
}

.sportsMenu-box.menu.popular, .sportsMenu-box.menu.highlight, .sportsMenu-box.menu.sport {
    line-height: 40px;
}

.sportsMenu-box.menu.today {
    background-color: #1e293e;
    border-radius: 0 5px 0 0;
}

.sportsMenu-box.menu.popular, .sportsMenu-box.menu.highlight {
    background-color: #ff9900;
}

.sportsMenu-box.menu.popular {
    margin-top: 5px;
}

.sportsMenu-box.menu.region, .sportsMenu-box.menu.competition {
    line-height: 35px;
}

.sportsMenu-box.menu.sport {
    background-color: #1e293e;
}

.sportsMenu-box.menu.region {
    background-color: #2d415c;
}

.sportsMenu-box.menu.competition {
    background-color: #101928;
    padding: 0 15px 0 25px;
    /*line-height: 35px;*/

}

.sportsMenu-text.today, .sportsMenu-text.highlight, .sportsMenu-text.popular, .sportsMenu-text.sport {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    font-size: 18px;
}

.sportsMenu-text {
    font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
    font-size: 16px;
    color: #FFF;
}

.sportsMenu-text.competition {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
}

.sportsMenu-text.region, .sportsMenu-text.competition, .sportsMenu-text.competition.highlight {
    font-size: 14px;
}

.sportsMenu-text.region.selected {
    color: #ff9900;
}

.sportsMenu-text.competition.selected {
    color: #ff9900;
}

.sportsMenu-text.popular.expand, .sportsMenu-text.sport.expand, .sportsMenu-text.region.expand,
.sportsMenu-text.competition.expand {
    float: right;
    margin-right: 0;
}

.sportsMenu-text.popular.expand {
    color: #FFF;
}

.sportsMenu-text.sport.expand, .sportsMenu-text.region.expand, .sportsMenu-text.competition.expand {
    color: #ff9900;
}