@import "../global/variables";

.page-footer {
  background-color: #1e293e;
  padding: 30px 0;
  width: 100%;

  a {
    cursor: pointer;
  }

  .content {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 10px 15px;

    @media (max-width: 1200px) {
      width: 1100px;
    }
    @media (max-width: 1120px) {
      width: 1020px;
    }
    @media (max-width: 1050px) {
      width: 900px;
    }

    .menu {
      height: 85px;
      display: flex;

      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      .social {
        float: left;
        width: 22%;
        display: flex;
        justify-content: space-between;

        a {
          text-align: center;
        }
      }

      .links {
        float: left;
        width: 56%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .col{
          width: 150px;

          a {
            float: left;
            width: 100%;
            font-family: $font-sans;
            font-size: 12px;
            color: #99ccff;
            outline: none;
            line-height: 26px;

            &:focus,
            &:hover {
              text-decoration: none;
              color: $color-white;
            }
          }
        }
      }

      .icons {
        display: flex;
        float: right;
        width: 22%;

        a {
          text-align: right;
          margin: 0 auto;
        }

      }
    }

    p {
      font-family: $font-sans;
      font-size: 11px;
      color: #fff;
      padding: 0;
      text-align: justify;
    }

    .copyright {
      float: left;
      width: 50%;
      line-height: 34px;
    }

    .payments {
      width: 324px;
      height: 34px;
      background: url('/assets/portal/img/footer/payments.jpg') 0 0;
      float: right;
      text-align: right;
    }
  }
}