@import "../global/variables";

.page-footer {
  background-color: #1e293e;
  padding: 20px 0;

  a {
    cursor: pointer;
  }

  .content {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 10px 15px;

    .menu {
      height: 85px;
      display: flex;

      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 18px;

      .social {
        float: left;
        width: 22%;
        display: flex;
        justify-content: space-between;

        a {
          text-align: center;
          color: #536883;

          &:hover {
            color: #99ccff;
          }

          i {
            font-size: 2.5em;
          }
        }
      }

      .links {
        float: left;
        width: 56%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-left: 50px;

        .col{
          width: 150px;

          a {
            float: left;
            width: 100%;
            font-family: $font-sans;
            font-size: 12px;
            color: #99ccff;
            outline: none;

            &:focus,
            &:hover {
              text-decoration: none;
              color: $color-white;
            }
          }

          a {
            margin-bottom: 12px;
            > a {
              margin-bottom: 0;
            }
          }
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        width: 22%;

        a {
          text-align: right;
          color: #536883;

          i {
            font-size: 2.8em;
          }
        }

      }
    }

    p {
      font-family: $font-sans;
      font-size: 11px;
      color: #536883;
      padding: 0;
      text-align: justify;
    }
    .copyright {
      float: left;
      width: 33%;
      padding-left: 15px;
      min-width: 300px;
      line-height: 34px;
    }

    .be-responsable {
      line-height: 34px;
      text-align: center;
    }

    .pt-100 {
      padding-top: 5px;
      width: 33%;
      float: left;
    }

    .payments {
      width: 33%;
      min-width: 324px;
      float: left;
      text-align: right;
      padding-top: 5px;

      i {
        color: #536883;
        font-size: 1.5em;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: $mobile-screen-width) {
  .page-footer {
    padding: 0;
    min-width: unset;
      display: none;

    .content {
      width: 100%;
      height: auto;

      .row {
        .menu {
          height: auto;
          display: block;

          .social {
            display: none;
          }

          .links {
            float: none;
            display: none;
            overflow: hidden;
            width: 100%;
            padding-left: 0;

            .col {
              float: left;
              overflow: hidden;
              width: 33%;
            }
          }

          .icons {
            padding-top: 20px;
            display: block;
            margin: 0 auto;
            width: 250px;
            text-align: center;

            a {
              margin: 5px;
            }
          }
        }

        .copyright {
          display: block;
          float: none;
          margin: 0 auto;

          p {
            margin-bottom: 0;
          }
        }

        .pt-100 {
          float: none;
          width: 100%;
        }

        .payments {
          float: none;
          margin: 0 auto;
          text-align: center;
          padding-top: 15px;
        }

        > .col-xs-4 {
          float: none;
          margin: 0 auto;
          width: 100%;
          padding: 0;
          min-height: unset;

        }

        .col-xs-12 {
          p:nth-child(2) {
            display: none;
          }
        }

      }
    }
  }
}

@media (min-width: $mobile-screen-width) {
  .page-footer {
    min-width: 1200px;

    .content{
      .row {
        .menu {
          .icons {
            a {
              &:hover {
                color: #99ccff;
              }
            }
          }
        }
      }
    }
  }
}