.page-footer {
    background-color: #1e293e;
    padding: 30px 0;

    a { cursor: pointer}

    .content {
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        padding: 10px 15px;

        .menu {
            height: 85px;

            .social {
                float: left;
                width: 30%;
                height: 80px;
                padding: 20px 0 0;

                a {
                    margin-right: 25px;
                }
            }

            .links {
                float: left;
                width: 40%;

                >div {
                    float: left;
                    width: 33%;
                    line-height: 26px;
                    padding-left: 20px;

                    a {
                        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
                        font-size: 12px;
                        color: #99ccff;
                    }
                }
            }

            .icons {
                float: left;
                width: 30%;
                height: 80px;
                text-align: right;
                padding: 20px 10px 0 0;

                a {
                    margin-left: 30px;
                }

            }
        }

        p {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 11px;
            color: #fff;
        }

        .copyright {
            float: left;
            width: 50%;
        }

        .payments{
            width: 50%;
            float: left;
            text-align: right;

        }
    }
}