{{#with bet}}
<div class="details">
    {{#each events}}
    <div class="game">{{date}} - {{time}} - {{competition_name}} - {{sport_name}}<br>{{game_name}}</div>
    {{#if_eq ../type "simple"}}
    <div class="total">€ {{../amount}}</div>
    {{/if_eq}}
    <div class="line market">{{market_name}}</div>
    <div class="line">{{event_name}}</div>
    <div class="result">
        {{#if_eq status "won"}}
        <span class="won"><i class="cp-check-circle"></i></span>
        {{/if_eq}}
        {{#if_eq status "waiting_result"}}
        <span class="pushed"><i class="cp-refresh"></i></span>
        {{/if_eq}}
        {{#if_eq status "returned"}}
        <span class="pushed"><i class="cp-sign-out"></i></span>
        {{/if_eq}}
        {{#if_eq status "lost"}}
        <span class="loss"><i class="cp-times-circle"></i></span>
        {{/if_eq}}
        {{odd}}
    </div>
    {{/each}}
    {{#if_eq type "multi"}}
    <div class="line">Total Apostas</div>
    <div class="total" id="betslip-simpleProfit"> € {{amount}}</div>
    <div class="line">Total Cotas</div>
    <div class="total" id="betslip-multiOdds" >{{odd}}</div>
    {{/if_eq}}
    <div class="line">Possível Retorno</div>
    <div class="total">€ {{multiply amount odd}}</div>
</div>
{{/with}}