/* Slider */
.carousel {
    $slides: 2;
    $time: 7.5s;

    width:100%;
    height:280px;
    position:relative;
    overflow:hidden;

    @keyframes load{
        from{left:-100%;}
        to{left:0;}
    }

    .slides{
        width:400%;
        height:100%;
        position:relative;
        -webkit-animation:slide $time*$slides infinite;
        -moz-animation:slide $time*$slides infinite;
        animation:slide $time*$slides infinite;
    }

    .slider{
      width:25%;
      height:100%;
      float:left;
      position:relative;
      z-index:1;
      overflow:hidden;
    }
    .slide img{
      width:100%;
      height:100%;
    }
    .slide img{
      width:100%;
      height:100%;
    }
    .image{
      width:100%;
      height:100%;
    }
    .image img{
      width:100%;
      height:100%;
    }

    /* Legend */
    .legend{
      border:500px solid transparent;
      border-left:800px solid rgba(52, 73, 94, .7);
      border-bottom:0;
      position:absolute;
      bottom:0;
    }

    /* Contents */
    .content{
      width:100%;
      height:100%;
      position:absolute;
      overflow:hidden;
    }
    .content-txt{
      width:400px;
      height:150px;
      float:left;
      position:relative;
      top:300px;
      -webkit-animation:content-s $time infinite;
      -moz-animation:content-s $time infinite;
      animation:content-s $time infinite;
    }
    .content-txt h1{
      font-family:Intro;
      font-size:24px;
      color:#fff;
      text-align:left;
      margin-left:30px;
      padding-bottom:10px;
    }
    .content-txt h2{
      font-family:Quicksand;
      font-weight:normal;
      font-size:14px;
      font-style:italic;
      color:#fff;
      text-align:left;
      margin-left:30px;
    }

    /* Switch */
    .switch{
      // display: none;
      width:120px;
      height:10px;
      position:absolute;
      bottom:45px;
      z-index:99;
      left:5px;
    }
    .switch > ul{
      list-style:none;
    }
    .switch > ul > li{
      width:10px;
      height:10px;
      border-radius:50%;
      background:#333;
      float:left;
      margin-right:5px;
      cursor:pointer;
    }
    .switch ul{
      overflow:hidden;
    }
    .on{
      width:100%;
      height:100%;
      border-radius:50%;
      background:#ff3300;
      position:relative;
      -webkit-animation:on $time*$slides infinite;
      -moz-animation:on $time*$slides infinite;
      animation:on $time*$slides infinite;
    }

    /* Animation */
  $animation-prefix-list: "webkit", "moz", "ms", "o", "";

  @mixin carousel($items, $animation: 'default') {

    @include keyframes(slide) {
      0%,100%{ margin-left:0; }
      @for $i from 1 through $items {
        #{(100/$items) * $i - 4}% { margin-left: -($i - 1)*100%; }
        @if $i != $items {
          #{(100/$items) * $i}% { margin-left: -$i*100%; }
        }
      }
    }

    @include keyframes(on) {
      0%,100%{ margin-left:0; }
      @for $i from 1 through $items {
        #{(100/$items) * $i - 4}% { margin-left: ($i - 1)*15px; }
        @if $i != $items {
          #{(100/$items) * $i}% { margin-left: $i*15px; }
        }
      }
    }
  }

  // Keyframe mixin.
  // Since sass currenly won't let you add dynamically create @keframes prefixes we have to
  // run through a couple if statements.
  @mixin keyframes($animationName){
    @each $pfx in $animation-prefix-list{
      $prefix: if($pfx == "", "", #{"-"+$pfx+"-"});
      @if $pfx == "webkit"{
        @-webkit-keyframes #{$animationName}{
          @content;
        }
      }@else if $pfx == "moz"{
        @-moz-keyframes #{$animationName}{
          @content;
        }
      }@else if $pfx == "ms"{
        @-ms-keyframes #{$animationName}{
          @content;
        }
      }@else if $pfx == "o"{
        @-o-keyframes #{$animationName}{
          @content;
        }
      }@else{
        @keyframes #{$animationName}{
          @content;
        }
      }
    }
  }

  @include carousel($slides);
}