@import "../global/variables";

.timers {
  float: right;
  clear: both;

  color: $color-white;
  font-family: $font-sans;
  font-size: 10px;
  width: 190px;

  line-height: 20px;
}

.server-time {
  text-align: left;
  float: right;
  width: 50%;
  padding-left: 8px;
}

.user-time {
  float: left;
  text-align: right;
  color: $color-orange;
  width: 50%;
  padding-right: 10px;

  .cp-clock {
    padding-right: 5px;
  }
}