@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.eot');
  src: url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.eot?#iefix') format('embedded-opentype'),
  local('Exo 2'),
  local('Exo-2-regular'),
  url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.woff2') format('woff2'),
  url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.woff') format('woff'),
  url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.ttf') format('truetype'),
  url('/assets/portal/fonts/Exo-2-regular/Exo-2-regular.svg#Exo2') format('svg');
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/portal/fonts/Exo-2-700/Exo-2-700.eot');
  src: url('/assets/portal/fonts/Exo-2-700/Exo-2-700.eot?#iefix') format('embedded-opentype'),
  local('Exo 2 Bold'),
  local('Exo-2-700'),
  url('/assets/portal/fonts/Exo-2-700/Exo-2-700.woff2') format('woff2'),
  url('/assets/portal/fonts/Exo-2-700/Exo-2-700.woff') format('woff'),
  url('/assets/portal/fonts/Exo-2-700/Exo-2-700.ttf') format('truetype'),
  url('/assets/portal/fonts/Exo-2-700/Exo-2-700.svg#Exo2') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
  local('Open Sans'),
  local('Open-Sans-regular'),
  url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
  url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
  url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
  url('/assets/portal/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Bold'),
  local('Open-Sans-700'),
  url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
  url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
  url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
  url('/assets/portal/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.eot');
  src: url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Italic'),
  local('Open-Sans-italic'),
  url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.woff2') format('woff2'),
  url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.woff') format('woff'),
  url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.ttf') format('truetype'),
  url('/assets/portal/fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.eot');
  src: url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Bold Italic'),
  local('Open-Sans-700italic'),
  url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.woff2') format('woff2'),
  url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.woff') format('woff'),
  url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.ttf') format('truetype'),
  url('/assets/portal/fonts/Open-Sans-700italic/Open-Sans-700italic.svg#OpenSans') format('svg');
}
