.mobile-menu {
  display: none;

  .search {
    background: #101928;
    padding: 20px 18px 20px 60px;

    form {
      input {
        width: 80%;
        font-size: 12px;
        height: 42px;
        background: #fff;
        font-weight: bold;
        border-radius: 0 !important;
        text-align: center;

        &::placeholder {
          color: #666;
          font-weight: normal;
        }
      }

      button {
        background: #ff9900;
        width: 15%;
        height: 42px;
        margin-left: -4px;
        vertical-align: top;
        border: 0;
        text-align: center;

        i {
          color: #FFF;
        }
      }
    }
  }

  .links {
    .link {
      padding: 0 15px;
      cursor: pointer;
      line-height: 42px;
      background: #101928;

      a {
        display: block;
        font-family: "Exo 2", "Open Sans", "Droid Sans", sans-serif;
        font-size: 18px;
        color: #99ccff;

        span {
          margin-top: -2px;
        }

        i {
          width: 45px;

          &.cp-chevron-right {
            width: 20px;
            font-size: 0.7em;
            line-height: 42px;
            float: right;
          }
        }
      }
    }
  }
}

@media (min-width: $mobile-screen-width) {
  .mobile-menu {
    display: none !important;
  }
}