.mobile-search-bar {
  background: #1e293e;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;

  form {
    input {
      width: 100%;
      font-size: 12px;
      height: 30px;
      background: #101928;
      font-weight: bold;
      border-radius: 0 !important;
      text-align: center;
      border: 0;
      color: #cccccc;

      &::placeholder, &::-webkit-input-placeholder {
        color: #cccccc;
        font-weight: normal;
      }
    }

    button {
      background: #ff9900;
      width: 15%;
      height: 42px;
      margin-left: -4px;
      vertical-align: top;
      border: 0;
      text-align: center;

      i {
        color: #FFF;
      }
    }
  }
}

@media (min-width: $mobile-screen-width) {
  .mobile-search-bar {
    display: none !important;
  }
}