.promotions-endurance {
  width: 100%;
  margin-left: 20px;
  background: #2D415C;
  color: #FFF;

  .title {
    font-size: 12px;
  }

  .row {
    font-size: 16px;
    font-weight: bold;
  }

  tr {
    td:nth-child(1) {
      width: 9%;
      text-align: center;
      color: #FF9900;
      font-weight: normal;
    }

    td:nth-child(2) {
      width: 32%;
      text-align: left;
    }

    td:nth-child(3) {
      width: 27%;
      text-align: center;
    }

    td:nth-child(4) {
      width: 30%;
      padding-right: 40px;
      text-align: right;
    }
  }
}