@keyframes vueSlideDown{
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes vueSlideUp{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.vue-slide-down-enter-active {
    animation: vueSlideDown 1s;
}

.vue-slide-enter-active {
    max-height: 2000px;
    transition: max-height 1s ease-in;
}

.vue-slide-leave-active {
    max-height: 2000px;
    transition: max-height .4s ease-out;
}
.vue-slide-enter, .vue-slide-leave-to {
    max-height: 0;
}

.vue-fade-enter-active, .vue-fade-leave-active {
    transition: opacity .5s
}

.vue-fade-enter, .vue-fade-leave-to {
    opacity: 0
}

.vue-fade-in-enter-active {
    transition: opacity .5s
}

.vue-fade-in-enter {
    opacity: 0
}