$font-exo: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
$font-sans: 'Open Sans', 'Droid Sans', sans-serif;
$font-fixed: 'Droid Sans Mono', "Courier New", Courier, monospace;

$color-white: #ffffff;
$color-white-hover: darken($color-white, 20%);

$color-blue-nav: #99ccff;
$color-blue-nav-hover: lighten($color-blue-nav, 10%);

$color-blue: #4a7fb3;
$color-blue-hover: lighten($color-blue, 10%);

$color-dark-blue: #2d415c;

$color-green: #71aa30;
$color-green-hover: lighten($color-green, 10%);

$color-orange: #ff9900;
$color-orange-hover: lighten($color-orange, 10%);

$color-text-box: #999999;
$color-text-box-hover: lighten($color-text-box, 10%);

$color-black: #000000;

$cor-verde-submit: #71aa30;
$border-radius: 6px;

$line-height: 25px;

$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 992px;
$screen-md-max: 991px;
$screen-lg-min: 1200px;
$screen-lg-max: 1199px;
