$font-exo: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
$font-sans: 'Open Sans', 'Droid Sans', sans-serif;
$font-fixed: 'Droid Sans Mono', sans-serif;

$color-white: #ffffff;
$color-white-hover: darken($color-white, 20%);

$color-blue-nav: #99ccff;
$color-blue-nav-hover: lighten($color-blue-nav, 10%);

$color-blue: #4a7fb3;
$color-blue-hover: lighten($color-blue, 10%);
$color-green: #71aa30;
$color-green-hover: lighten($color-green, 10%);

$color-text-box: #999999;

$cor-verde-submit: #71aa30;
$border-radius: 6px;
