[class^="cp-"], [class*=" cp-"] {
    display: inline-block;
}

.cp-caret-down {
    font-size: 18px;
}

.cp-plus {
    font-size: 12px;
}

.cp-cross {
    font-size: 12px;
}

.cp-stats-bars {
    font-size: 16px;
}

.cp-spin {
    display: inline-block;
    animation: spin 4s infinite linear;

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}


