@font-face {
  font-family: 'casinopt';
  src:  url('/assets/portal/fonts/casinopt.eot?coaj5');
  src:  url('/assets/portal/fonts/casinopt.eot?coaj5#iefix') format('embedded-opentype'),
  url('/assets/portal/fonts/casinopt.ttf?coaj5') format('truetype'),
  url('/assets/portal/fonts/casinopt.woff?coaj5') format('woff'),
  url('/assets/portal/fonts/casinopt.svg?coaj5#casinopt') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cp-"], [class*=" cp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'casinopt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-calendar-o:before {
  content: "\e90c";
}
.cp-flag:before {
  content: "\e90d";
}
.cp-trophy:before {
  content: "\e90e";
}
.cp-caret-right:before {
  content: "\e90f";
}
.cp-caret-left:before {
  content: "\e910";
}
.cp-caret-up:before {
  content: "\e911";
}
.cp-caret-down:before {
  content: "\e912";
}
.cp-search:before {
  content: "\e913";
}
.cp-heart:before {
  content: "\e914";
}
.cp-heart-o:before {
  content: "\e915";
}
.cp-clock2:before {
  content: "\e94f";
}
.cp-clock:before {
  content: "\e94e";
}
.cp-pie-chart:before {
  content: "\e99a";
}
.cp-bookmark:before {
  content: "\e9d2";
}
.cp-bookmarks:before {
  content: "\e9d3";
}
.cp-plus:before {
  content: "\ea0a";
  //font-size: 12px;
}
.cp-minus:before {
  content: "\ea0b";
}
.cp-cross:before {
  content: "\ea0f";
}
.cp-cog:before {
  content: "\e994";
}
.cp-star-full:before {
  content: "\e9d9";
}
.cp-star-half:before {
  content: "\e9d8";
}
.cp-star-empty:before {
  content: "\e9d7";
}
.cp-stats-bars:before {
  content: "\e99c";
}
.cp-spades:before {
  content: "\e917";
}
.cp-clubs:before {
  content: "\e918";
}
.cp-diamonds:before {
  content: "\e919";
}
.cp-document-star:before {
  content: "\e916";
}
.cp-andebol:before {
  content: "\e900";
}
.cp-badminton:before {
  content: "\e901";
}
.cp-basquete:before {
  content: "\e902";
}
.cp-ciclismo:before {
  content: "\e903";
}
.cp-d-motorizados:before {
  content: "\e904";
}
.cp-futebol:before {
  content: "\e905";
}
.cp-golfe:before {
  content: "\e906";
}
.cp-raguebi:before {
  content: "\e907";
}
.cp-snooker:before {
  content: "\e908";
}
.cp-pingpong:before {
  content: "\e909";
}
.cp-tenis:before {
  content: "\e90a";
}
.cp-voleibol:before {
  content: "\e90b";
}

