@import "./variables";

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.font-title {
    font-family: $font-exo;
}

.font-text {
    font-family: $font-sans;
}

/* Personalise Popup */
.sweet-alert.caspt {
  font-family: $font-sans;
  //padding: 15px;
  //padding-top: 55px;
  //text-align: right;
  //border-radius: 6px;
  //box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.11), 0px 6px 30px rgba(0, 0, 0, 0.14);

  .sa-icon {
    position: absolute;
    top: calc(50% - 40px);
    margin: 0;
  }
  h2, p, fieldset {
    margin: 0 0 0 100px;
  }
  .sa-error-container, .sa-button-container {
    text-align: right;
    margin: 0 0 0 100px;
  }

  button.confirm {
    background-color: $color-green !important;
    &:hover {
      background-color: $color-green !important;
    }
  }
}

.popup-alert {
    .modal-dialog {
        width: 440px;
        margin: 10px auto;
        top: 300px;
    }
    .modal-body {
        font-family: $font-sans;
        font-size: 14px;
        min-height: 80px;
        color: #9a9a9a;

        .icon {
            float: left;
            width: 25%;
        }
        .msg {
            float: left;
            width: 75%;
            margin-bottom: 20px;
        }

    }
    .modal-footer {
        border-top: none;
        button {
            font-family: $font-exo;
            font-weight: bold;
            font-size:15px;
            color: #FFF;
            float: right;
            margin: 0 5px;
            background: $cor-verde-submit;
            height: 40px;
            border: none;
            border-radius: $border-radius;
            width: 110px;

            &:hover {
                background: lighten($cor-verde-submit, 10%);
            }
        }
    }
}