@import "./variables";

body {
  background-color: #101928;
}

a:focus,
button:focus {
  outline: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.font-title {
    font-family: $font-exo;
}

.font-text {
    font-family: $font-sans;
}

/* Personalise Popup */
.sweet-alert.caspt {
  font-family: $font-sans;
  width: 400px;
  .sa-icon {
    margin: 0 auto;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  p {
    font-size: 14px;
  }
  input {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
  button {
    margin-top: 5px;
  }
  button.confirm {
    background-color: $color-green !important;
    &:hover {
      background-color: $color-green !important;
    }
  }

  &.email {
    input {
      text-align: center;
    }
  }
}

.popup-alert {
  .modal-dialog {
    width: 440px;
    margin: 10px auto;
    top: 300px;
  }
  .modal-body {
    font-family: $font-sans;
    font-size: 14px;
    min-height: 80px;
    color: #9a9a9a;

    .icon {
      float: left;
      width: 25%;
    }
    .msg {
      float: left;
      width: 75%;
      margin-bottom: 20px;
    }

  }
  .modal-footer {
    border-top: none;
    button {
      font-family: $font-exo;
      font-weight: bold;
      font-size:15px;
      color: #FFF;
      float: right;
      margin: 0 5px;
      background: $cor-verde-submit;
      height: 40px;
      border: none;
      border-radius: $border-radius;
      width: 110px;

      &:hover {
        background: lighten($cor-verde-submit, 10%);
      }
    }
  }
}