@import "./variables";

body {
  background-color: #101928;
}

body .main-contend {
  background-color: #101928;
  width: 100%;

  > div {
    margin: 0 auto;
  }
}

body.iframe {
  background-color: #101928;
  width: 100%;
}

.bet a:focus,
.bet button:focus,
.bet .bs-wp a:focus,
.bet .bs-wp button:focus,
a:focus,
button:focus {
  outline: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -o-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.font-title {
    font-family: $font-exo;
}

.font-text {
    font-family: $font-sans;
}

@media (max-width: $mobile-screen-width) {
  .navbar.navbar-default.navbar-static-top {
    display: none;
  }

  body .main-contend {
    min-width: unset !important;
  }

  .bet .main-contend {
    margin-top: 0;
    padding-top: 0;
  }

  #chat {
    display: none;
  }
}

@media (min-width: $mobile-screen-width) {
  body .main-contend {
    min-width: 1200px;

    > div {
      width: 1200px;
    }
  }
}


@import "./input";
@import "./file.dragndrop";
@import "./popup";