@import "global/global";

@import "casino/variables";

@import "casino/mixins";

@import "casino/left-menu";

@import "casino/games";
@import "casino/game";

@import "casino/featured";

@import "casino/slider";

@import "casino/banner";

@import "info/info";

@import "casino/register";
@import "casino/profile";

@import 'common/cpIcons';
@import 'common/cpHelpers';

@import 'common/vue-transitions';

@import 'common/promotions';

@import 'common/mobile-header';
@import 'common/mobile-login';
@import 'common/mobile-menu';
@import 'common/mobile-up-button';
@import 'common/mobile-left-menu-header';
@import 'common/mobile-search-bar';
@import 'common/error-panel';
@import 'common/bigodd';
@import 'common/balance-button';
@import 'common/cookies-consent';
@import 'common/promotions-endurance';

@import 'casino/mobile-game-launcher';

@import 'casino/theme';

body {
  background: $body-bg;
}

.heartbeat {
  @include heartbeat(2s);

  animation-name: heartbeat;
}


.bs-wp .navbar-default .navbar-nav .active a:hover {
  text-decoration: none;
}

.casino {
  width: 1200px;
  margin: 128px auto 20px;
  overflow: hidden;
  //border: 1px solid white;
  min-height: 500px;

  .sidebar {
    float: left;
    width: 230px;
  }

  .main-content {
    float: left;
    width: 950px;
    margin: 0 10px;
  }

  .v-enter, .v-leave-active {
    opacity: 0;
  }

  .v-leave-active {
    transition: none;
  }
}

@media (max-width: $mobile-screen-width) {
  .casino {
    width: 100%;

    margin: 0;

    .main-content {
      width: 100%;

      margin: 0 0 10px;
    }
  }

  .sidebar {
    display: none;
  }
}