.fixtures {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 15px;

    .header {
        height: 42px;
        font-size: 16px;
        background-color: #1e293e;

        &.sport {
            background-color: #4a7fb3;
        }

        .date {
            width: 60px;
            border-radius: 5px 0 0;
            text-align: left;

            i {
                margin-left: 15px;
                font-size: 18px;
            }
        }

        .game {
            @extend .font-title;
            font-size: 18px;
            font-weight: normal;
            text-align: left;
            width: 200px;

            span {
                margin-left: -15px;
            }
        }

        .live {
            @extend .font-title;
            font-size: 14px;
            background-color: #ff3300;
        }

        .favorite {
            width: 30px;
        }

        .statistics {
            width: 30px;
        }

        .separator {
            width: 5px;
            background-color: #101928;
        }

        .selectionSeparator {
            width: 1px;
            background-color: #2d415c;
        }

        .selection {
            @extend .font-title;
            font-weight: normal;
            color: #99ccff;
            background-color: #2d415c;
            width: 86px;
        }

        .marketCount {
            width: 50px;
            border-radius: 0 5px 0 0;
            cursor: pointer;

            .fa-caret-down {
                font-size: 18px;
            }

            .fa-plus {
                font-size: 14px;
            }
        }

    }

    .fixture {
        height: 42px;
        background-color: #2d415c;

        .date {
            font-size: 12px;
            color: #99ccff;
            text-align: left;
            padding-left: 12px;
        }

        .game {
            text-align: left;
            font-size: 14px;
            color: #FFF;
            cursor: pointer;

            .teamName {
                display: inline-block;
                width: 93px;
                line-height: 42px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .vs {
                display: inline-block;
                text-align: center;
                width: 13px;
                line-height: 42px;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .favorite {
            width: 30px;
            color: #99ccff;
        }

        .statistics {
            width: 30px;
            color: #99ccff;
        }

        .separator {
            background-color: #101928;

            &.thin {
                background-color: #2d415c;
            }
        }

        .selection {
            background-color: #435772;

            &.odd {
                background-color: #536883;
            }
        }

        .marketsCount {
            font-size: 14px;
            background-color: #2d415c;
            color: #99ccff;
            cursor: pointer;

            &.marketsCount.odd {
                background-color: #435772;;
            }
        }

        .odd {
            background-color: #435772;
        }

    }
}

.fixtures-more {
    @extend .font-title;
    font-size: 16px;
    line-height: 42px;
    background-color: #1e293e;
    overflow: auto;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 0 18px;
    color: #99ccff;

    span {
        cursor: pointer;
        float: right;

        i {
            font-size: 14px;
        }
    }

}