@import '../global/variables';

.fixtures {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 15px;

    .header {
        height: 40px;
        font-size: 16px;

        .date {
            width: 60px;
            border-radius: 5px 0 0;
            text-align: left;
            background-color: #1e293e;

            i {
                margin-left: 15px;
                font-size: 18px;

                &.cp-document-star {
                    font-size: 22px;
                    margin-left: 12px;
                }
            }
        }

        .game {
            font-family: $font-exo;
            font-size: 18px;
            font-weight: normal;
            text-align: left;
            width: 200px;
            background-color: #1e293e;

            .icon {
                display: none;
            }

            span {
                margin-left: -15px;
            }

            .gameLive {
                display: none;
            }
        }

        .prematch {
            background-color: #1e293e;
        }

        .live {
            font-family: $font-exo;
            font-size: 14px;
            background-color: #ff3300;
        }

        .favorite {
            width: 30px;
        }

        .statistics {
            width: 30px;
        }

        .separator {
            width: 5px;
            background-color: #101928;
        }

        .selectionSeparator {
            width: 1px;
            background-color: #2d415c;
        }

        .selection {
            font-family: $font-exo;
            font-weight: normal;
            color: #99ccff;
            background-color: #2d415c;
            width: 86px;

            &.twoResults {
                width: 129px;
            }
        }

        .twoColumns {
            width: 129px;
        }

        .marketCount {
            background-color: #1e293e;
            width: 50px;
            border-radius: 0 5px 0 0;
            cursor: pointer;

        }

        .sport, .highgames {
            background-color: #4a7fb3;
        }

        .live {
            font-family: $font-exo;
            font-size: 14px;
            background-color: #ff3300;
        }
    }

    .fixture {
        height: 42px;
        background-color: #2d415c;

        .date, .score {
            font-size: 12px;
            color: #99ccff;
            text-align: left;
            padding-left: 12px;
        }

        .score {
            color: #FFF;
        }

        .game {
            text-align: left;
            font-size: 14px;
            color: #FFF;
            cursor: pointer;

            .gameName {
                display: inline-block;
                max-width: 205px;
                line-height: 42px;
                white-space: nowrap;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;

                > span > br {
                    display: none;
                }

                .gameNameMobile {
                    display: none;
                }
            }
        }

        .favorite {
            width: 30px;
            color: #99ccff;
        }

        .statistics {
            width: 30px;
            color: #99ccff;
        }

        .separator {
            background-color: #101928;

            &.thin {
                background-color: #2d415c;
            }
        }

        .selection {
            background-color: #435772;

            &.odd {
                background-color: #536883;
            }
        }
        .selectionSuspended {
            font-family: $font-exo;
            font-weight: normal;
            color: #99ccff;
            background-color: #2d415c;
            width: 258px;
        }

        .marketsCount {
            font-size: 14px;
            background-color: #2d415c;
            color: #99ccff;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                color: #ffcc00;
            }

            &.marketsCount.odd {
                background-color: #435772;;
            }
        }

        .odd {
            background-color: #435772;
        }

    }
}

.fixtures-more {
    font-family: $font-exo;
    font-size: 16px;
    line-height: 42px;
    background-color: #1e293e;
    overflow: auto;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 0 18px;
    color: #99ccff;

    span {
        cursor: pointer;
        float: right;
    }
}

@media (max-width: $mobile-screen-width) {
    .fixtures {

        .header {
            .date, .prematch, .live, .marketCount {
                display: none;
            }

            .game {
                width: 50%;
                padding-left: 6px;
                vertical-align: top;

                .icon {
                    display: inline;
                }

                span {
                    margin: 10px 0 0 0;
                    display: inline-block;
                }

                .gameLive {
                    float: right;
                    display: block;
                    background: #ff3300;
                    padding: 15px 5px;
                    font-size: 10px;
                    min-width: 44px;
                    width: 9%;
                }
            }

            .selection {
                width: 16%;

                &.twoResults {
                    width: 24.4%;
                }
            }

            .separator {
                width: 1px;
            }

            .marketCount {
                display: none;
            }
        }

        .fixture {
            .date, .score, .marketsCount, .favorite, .statistics {
                display: none;
            }

            .game {
                .gameName {
                    line-height: 1.3em;
                    padding: 6px;
                    white-space: normal;
                    width: 100%;
                    max-width: unset;

                    > span {
                        > span {
                            display: none;
                        }
                        > br {
                            display: block;
                        }
                    }

                    .gameNameMobile {
                        display: block;
                        font-size: 12px;
                        color: #99ccff;

                        span {
                            color: #ffcc00;
                        }

                        button {
                            float: right;
                        }
                    }
                }
            }

            .selection {
                button {
                    height: 66px;
                }
            }

            .marketsCount  {
                display: none;
            }
        }
    }
}