@import '../global/variables';

.static-container,
.markets-container {
    float: left;
    min-height: 600px;
    color: #fff;
    width: 640px;
    margin: 0 10px;
}

.markets-button {
    border: 0;
    background: none;
}

.markets-button-favorite, .markets-button-statistics {
    @extend .markets-button;
    font-size: 12px;

    &:hover {
        color:#ff9900;
    }

    &.selected {
        color: #ff9900;
    }
}

.markets {
    table {
        td, th {
            height: 42px;
        }
    }

    > .header {
        font-family: $font-exo;
        background-color: #1e293e;
        border-radius: 5px 5px 0 0;
        font-size: 18px;
        padding: 10px 0 0 20px;
        min-height: 42px;
        overflow: auto;

        >i {
            float: right;
            cursor: pointer;

            &.cp-stats-dots {
                margin-top: 6px;
                font-size: 14px;
            }

            &.cp-cross {
                font-size: 12px;
                height: 30px;
                width: 56px;
                text-align: center;
                vertical-align: bottom;
                padding: 8px 10px 8px 10px;
                z-index: 50;
            }
        }
    }

    .title {
        font-family: $font-exo;
        font-size: 16px;
        margin-top: 5px;
        min-height: 42px;
        color: #FFF;
        background-color: #4a7fb3;
        padding: 10px 20px;
        overflow: auto;

        span {
            cursor: pointer;
        }

        i {
            float: right;
            width: 15px;
            text-align: center;
            cursor: pointer;
        }
    }

    table.singleRow2Cols {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
        border-spacing: 0;
        text-align: center;
        border: 1px solid #4a7fb3;
        border-radius: 0;
        font-family: $font-sans;
        font-size: 14px;

        .header {
            height: 25px;
            background-color: #2d405c;

            .selection {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 50%;
                cursor: default;
            }

            .separator {
                width: 1px;
            }
        }

        .row {
            height: 42px;

            .separator {
                background-color: #2d405c;
            }

            .selection {
                background-color: #536883;
                min-height: 42px;

                &.odd {
                    background-color: #607d8b;
                }
            }

            .handicap {
                color: #99ccff;
                font-weight: bold;
                background-color: #1e293e;
            }
        }
    }

    table.singleRow3Cols {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
        border-spacing: 0;
        text-align: center;
        border: 1px solid #4a7fb3;
        border-radius: 0;
        font-family: $font-sans;
        font-size: 14px;

        .header {
            height: 25px;
            background-color: #2d405c;

            .selection {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 33%;
                cursor: default;
            }

            .separator {
                width: 1px;
            }
        }

        .row {
            height: 42px;

            .separator {
                background-color: #2d405c;
            }

            .selection {
                background-color: #536883;
                min-height: 42px;

                &.odd {
                    background-color: #607d8b;
                }
            }

            .handicap {
                color: #99ccff;
                font-weight: bold;
                background-color: #1e293e;
            }
        }
    }

    table.multiRow2Cols {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
        border-spacing: 0;
        text-align: center;
        border: 1px solid #4a7fb3;
        border-radius: 0;
        font-family: $font-sans;
        font-size: 14px;

        .header {
            height: 25px;
            background-color: #2d405c;

            .selection, .handicap {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 33%;
                cursor: default;
            }

            .separator {
                width: 1px;
            }
        }

        .row {
            height: 42px;

            .separator {
                background-color: #2d405c;
            }

            .selection {
                background-color: #536883;
                min-height: 42px;

                &.odd {
                    background-color: darken(#536883, 5%);
                }
            }

            .handicap {
                color: #99ccff;
                font-weight: bold;
                background-color: #1e293e;
            }
        }
    }

    table.multiRow3Cols {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
        border-spacing: 0;
        text-align: center;
        border: 1px solid #4a7fb3;
        border-radius: 0;
        font-family: $font-sans;
        font-size: 14px;

        .header {
            height: 25px;
            background-color: #2d405c;

            .handicap {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 33%;
            }

            .selection {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 22%;
                max-width: 141px;
                overflow: hidden;
                cursor: default;
            }

            .separator {
                width: 1px;
            }
        }

        .row {
            height: 42px;

            .separator {
                background-color: #2d405c;
            }

            .selection {
                background-color: #536883;
                min-height: 42px;

                &.odd {
                    background-color: darken(#536883, 5%);
                }
            }

            .handicap {
                color: #99ccff;
                font-weight: bold;
                background-color: #1e293e;
            }
        }
    }

    table.multiRow3ColsUnlabeled {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
        border-spacing: 0;
        text-align: center;
        border: 1px solid #4a7fb3;
        border-radius: 0;
        font-family: $font-sans;
        font-size: 14px;

        .selection {
            width: 33%;

            table {
                width: 100%;
            }
        }

        .separator {
            width: 1px;
            background: #2d405c;
        }

        .header {
            height: 25px;
            background-color: #2d405c;

            .selection {
                color: #99ccff;
                font-weight: normal;
                font-size: 14px;
                width: 33%;
                max-width: 212px;
                cursor: default;
            }
        }

        .row {
            height: 42px;

            .separator {
                width: 1px;
                background-color: #2d405c;
            }

            .selection {
                background-color: #536883;

                &.odd {
                    background-color: #2d415c;
                }
            }

            .handicap {
                color: #99ccff;
                font-weight: bold;
                background-color: #1e293e;
            }
        }
    }

    .markets-more {
        font-family: $font-exo;
        font-size: 16px;
        line-height: 42px;
        background-color: #1e293e;
        overflow: auto;
        padding: 0 18px;
        color: #99ccff;

        span {
            cursor: pointer;
            float: right;

            i {
                font-size: 14px;
            }
        }
    }

}

.markets-unavailable {
    border-radius: 5px;
    padding: 20px;
    background: #1e293e;

    p {
        font-family: $font-exo;
        font-size: 18px;
        color: #99ccff;
        text-align: center;
    }
}

.market-unavailable {
    border-radius: 0;
    padding: 1px;
    background: #1e293e;

    p {
        font-family: $font-exo;
        font-size: 14px;
        color: #99ccff;
        text-align: center;
    }
}

@media (max-width: $mobile-screen-width) {
    #banners-container {
        display: none;
    }

    .markets-container {
        overflow: hidden;
        float: none;
        min-height: unset;
        width: 100%;
        margin: 0;
    }
}

@media (min-width: $mobile-screen-width) {
    .markets-container {
        display: block !important;
    }
}