@import (reference) "variables.less";
.btn-brand {
  background-color: transparent;
  color: @btn-brand-color;
  border: 1px solid @btn-brand-border-color;
  border-radius: 10px;
  &:hover {
    color: @btn-brand-color-hover;
    border-color: #adadad;
  }
  &,
  &:focus,
  &:active:focus {
    outline: none;
  }
}
.btn-slim {
  font-size: 12px;
  width: 140px;
  padding: 5px 0px;
  line-height: 18px;
  height: 30px;
}
.btn-clean {
  color: @right-menu-color;
  border: none;
  &:hover {
    color: @btn-brand-color-hover;
    border-color: #adadad;
  }
}
.btn-menu {
  color: @btn-menu-color;
  border: 1px solid @btn-menu-border-color;
  width: 100%;
  border-radius: 10px;
  line-height: 18px;
  font-size: 11px;
  &:hover {
    color: @btn-menu-hover-color;
    border: 1px solid @btn-menu-hover-border-color;
    background-color: @btn-menu-hover-border-color;
  }
}
.btn-header {
  padding: 0 5px;
  font-size: 10px;
  color: @right-menu-color;
  &:hover {
    color: @btn-menu-hover-color;
  }
}

/* OLD */

.botao-registar {
  border: 1px solid #fff;
  border-radius: 10px;
  line-height: 30px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 9px auto;
  color: #fff;
  font-weight: bold;
  font-size: 80%;
}
.botao-registar:hover {
  background-color: #054c6d;
  border: 1px solid #ddd;
  color: #ddd;
}