
.btn-brand {
  background-color: transparent;
  color: @btn-brand-color;
  border-color: @btn-brand-color;
  border: 2px solid @btn-brand-border-color;
  border-radius: 10px;
  &:hover {
    color: @btn-brand-color-hover;
    border-color: #adadad;
  }
  &,
  &:focus,
  &:active:focus {
    outline: none;
  }
}
.btn-slim {
  font-size: 14px;
  width: 140px;
  padding: 3px 3px;
}
.btn-clean {
  color: @btn-brand-color;
  border: none;
  &:hover {
    color: @btn-brand-color-hover;
    border-color: #adadad;
  }
}
.btn-menu {
  color: @btn-menu-color;
  border: 1px solid @btn-menu-border-color;
  width: 100%;
  border-radius: 10px;
  line-height: 18px;
  font-size: 11px;
  &:hover {
    color: @btn-menu-hover-color;
    border: 1px solid @btn-menu-hover-border-color;
    background-color: @btn-menu-hover-border-color;
  }
}
.btn-header {
  padding: 0 5px;
  font-size: 10px;
}
