@import (reference) "variables.less";
.title-form-registo {
  margin-bottom: 15px;
}
.brand-title {
  font-size: 12px;
}
.registo-form {
  margin-left: 0;
  position: relative;
  label {
    font-size: 12px;
    > i {
      font-size: 12px;
      color: @brand-color;
    }
  }
  span {
    line-height: 20px;
    font-size: 11px;
  }
  &.iban {
    span.prefix {
      display: inline-block;
      width: 30px;
    }
    input {
      width: 198px;
      width: ~"calc(100% - 35px)";
    }
  }
  input,
  select {
    width: 100%;
    font-size: 11px;
    height: 25px;
  }
  > div > select {
    width: 32%;
  }
  input[type="checkbox"]{
    width: auto;
    vertical-align: middle;
    height: auto;
  }
  .brand-color {
    span{
      display: inline-block;
      font-size: 10px;
      line-height: normal;
    }
  }
  .terms > i,
  > i {
    position: absolute;
    top: 20px;
    right: -28px;
    font-size: 20px;
  }
  p{
    font-size: 10px;
  }
  p.terms {
    line-height: 21px;
    font-size: 12px;
    margin-top: -2px;
    &.error,
    &.error a {
      color: #ff0000;
    }
    span {
      display: inline;
    }
    font.warning-color {
      display: none;
    }
    input {
      margin-top: -2px;
    }
    > i {
      top: 10px;
    }
  }
}
.form-footer-rodape {
  .btns .btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    white-space: pre;
    align-items: flex-start;
    perspective-origin: 63.875px 16.5px;
    transform-origin: 63.875px 16.5px;
    background: rgb(1, 159, 233) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(187, 187, 187);
    border-radius: 10px 10px 10px 10px;
    font: normal normal normal normal 12.24px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px;
    transition: all 0.4s ease 0s;

    line-height: 20px;
    font-size: 13px;
  }
  .form-submit input {
    line-height: 20px;
    border-radius: 10px;
  }
  .brand-botao {
    font-size: 13px;
    font-weight: bold;
    border-width: 0;
    line-height: 30px;
    height: 30px;
    &:hover {
      color: @btn-brand-color-hover;
    }
  }
  .form-marcadores p {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 5px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #ddd;
    border: none;

  }

  .brand-botao {
    color: #ffffff;
    background-color: @brand-color;
  }
}