@import (less) "old.less";

@navbar-color-active: #edac00;
@navbar-color: #ffffff;
@navbar-back-color: #112149;

@btn-brand-color: #ffffff;
@btn-brand-color-hover: #cccccc;
@btn-brand-border-color: #ddd;

@right-menu-color: #cccccc;

@btn-menu-color: #555;
@btn-menu-border-color: #555;
@btn-menu-hover-color: #ffffff;
@btn-menu-hover-border-color: @navbar-back-color;

@screen-sm-min: 768px;
@screen-sm-max: 767px;
@screen-md-min: 992px;
@screen-md-max: 991px;
@screen-lg-min: 1200px;
@screen-lg-max: 1199px;

.bet {
  .main-contend {
    margin-top: 120px;
    padding-top: 15px;
  }
  .main-contend.standalone {
    margin-top: 50px;
  }
}
.bs-wp {
  .btn-brand {
    background-color: transparent;
    color: @btn-brand-color;
    border-color: @btn-brand-color;
    border: 2px solid @btn-brand-border-color;
    border-radius: 10px;
    &:hover {
      color: @btn-brand-color-hover;
      border-color: #adadad;
    }
    &,
    &:focus,
    &:active:focus {
      outline: none;
    }
  }
  .btn-slim {
    font-size: 14px;
    width: 140px;
    padding: 3px 3px;
  }
  .btn-clean {
    color: @btn-brand-color;
    border: none;
    &:hover {
      color: @btn-brand-color-hover;
      border-color: #adadad;
    }
  }
  .btn-menu {
    color: @btn-menu-color;
    border: 1px solid @btn-menu-border-color;
    width: 100%;
    border-radius: 10px;
    line-height: 18px;
    font-size: 11px;
    &:hover {
      color: @btn-menu-hover-color;
      border: 1px solid @btn-menu-hover-border-color;
      background-color: @btn-menu-hover-border-color;
    }
  }
  .btn-header {
    padding: 0 5px;
    font-size: 10px;
  }
  nav {
    display: block;
  }
  .navbar-default {
    padding: 10px 0;
    background-color: @navbar-back-color;
    border-color: rgba(115, 115, 115, 0.43);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    &.navbar-2nd.standalone {
      top: 0;
      position: fixed;
      .navbar-brand {
        display: block;
      }
      .nav-onscroll {
        display: inline-block;
      }
      .nav-ontop {
        display: none;
      }
    }
    &.navbar-2nd {
      top: 71px;
      border: none;
      border-radius: 0;
      padding: 10px 0;
      z-index: 1000;
      .btn-brand{
        text-transform: capitalize;
      }
      .navbar-brand {
        height: 30px;
        padding: 0 5px;
        img {
          height: 30px;
        }
      }
      .navbar-brand,
      .nav-onscroll {
        display: none;
      }
      .nav-ontop {
        padding-right: 20px;
      }
      .board-menu-option {
        margin: 5px 0;
      }
      li {
        a {
          padding: 5px 8px;
        }
      }
      .col-xs-1 {
        padding: 0 10px;
      }
      .col-xs-5,
      .col-xs-4 {
        padding: 0 5px;
      }
      @media (max-width: @screen-lg-max) {
        li a {
          padding: 5px 8px;
        }

        .btn-slim {
          font-size: 12px;
          width: 90px;
        }
      }
      @media (max-width: @screen-md-max) {
        li a {
          padding: 5px 5px;
        }

        .btn-slim {
          padding: 5px 5px;
          font-size: 10px;
          width: 60px;
        }
      }
    }

    @media (max-width: @screen-lg-max) {
      .navbar-fright {
        padding-right: 15px;
        .menu_header {
          right: 10px;
        }
      }
      .col-xs-2.nav-ontop{
        padding-right: 10px;
      }
      .nav-onscroll {
        padding-left: 0;
        padding-right: 5px;

        .menu_header {
          right: 10px;
        }
      }
    }

    @media (max-width: @screen-md-max) {
      .col-xs-2.nav-ontop{
        padding-right: 7px;
      }
    }
    .navbar-collapse {
      text-align: center;
    }
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;

      .active {
        a, a:hover {
          color: @navbar-color-active;
          background-color: transparent;
        }
        a {
          color: @navbar-color-active;
        }
      }
      li {
        a {
          &:active:focus {
            background-color: transparent;
            outline: none;
          }
          &:hover {
            color: @navbar-color-active;
          }

          color: @navbar-color;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      @media (max-width: @screen-lg-max) {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .navbar-fright,
  .navbar-right {
    font-size: 12px;
    float: right;
    padding-right: 25px;
    .brand-link {
      padding: 0 8px;
      border-left: 1px dashed @navbar-color;
    }
    @media (max-width: @screen-md-max) {
      .brand-link {
        padding: 0 5px;
      }
    }
    .board-menu {
      .brand-link {
        border-left: none;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        direction: rtl;
        letter-spacing: 1px;
      }
    }
    .btn-header,
    .board-menu-option {
      color: @right-menu-color;
    }
  }
  .navbar-toggle-left {
    float: left;
    margin-left: 15px;
    margin-right: 0;

    border: none;
    &:hover {

    }
    li {

    }
  }
  .navbar-brand {
    padding: 3px 15px;
    img {
      height: 44px;
    }
  }

  /* Form Login */
  #saveLoginForm {
    display: none;
    input {
      margin: 0;
    }
    .btn-login-sub {
      background-color: #efd83c;
      color: #000000;
      border: 1px solid #000000;
      font-size: 14px;
      padding: 4px 0px;
    }
    > .col-xs-4 {
      padding: 0 10px;
    }
    .botao-registar {
      width: 100%;
      font-size: 70%;
      text-transform: capitalize;
    }
    @media (max-width: @screen-lg-max) {
      .botao-registar {
        font-size: 60%;
      }
    }
    @media (max-width: @screen-md-max) {
      .botao-registar {
        font-size: 50%;
      }
    }
    .btn-link {
      font-size: 10px;
      padding: 14px 0 0 15px;
      &:hover {
        color: @navbar-color;
      }
    }
  }
  /* Align PopHovers */
  .board-menu-div {
    display: inline-block;
    position: relative;
  }
  .navbar-right,
  .navbar-fright {
    .board-menu-div {
      position: inherit;
    }
  }
  .navbar-fright {
    .menu_header {
      top: 30px;
    }
  }
  @menu-header-width: 160px;
  .menu_header {
    width: @menu-header-width;
    position: absolute;
    display: none;
    z-index: 10;
    top: 15px;
    .menu_triangle_contend {
      border: 1px solid #ada9aa;
    }
    .menu_triangle {
      margin-right: 0px;
      margin-bottom: -1px;
      position: relative;
    }
    .btn {
      margin-bottom: 10px;
    }
    &.menu_user,
    &.menu_account {
      top: 28px;
      .brand-title {
        font-size: 11px;
        margin-bottom: 2px;
      }
      .brand-descricao {
        font-size: 14px;
        text-align: right;
        padding-bottom: 2px;
        margin-bottom: 7px;
      }
      .btn-menu {
        font-size: 11px;
        padding: 5px 3px;
      }
    }
    &.menu_account {
      left: 0;
      width: @menu-header-width * 2;
      .menu_triangle {
        margin-left: @menu-header-width / 3 - 5px;
      }
      .menu_triangle_contend {
        padding: 20px 5px 10px 5px;
      }
      .available {
        font-weight: bold;
        color: #00AA00;
      }
      .total {
        font-weight: bold;
        color: #000000;
      }
    }
    &.menu_user {
      right: 0;
      .menu_triangle {
        margin-left: @menu-header-width / 2 - 5px;
      }
    }
    &.menu_lang {
      right: 20px;
      z-index: 1010;
      font-size: 8px;
      .menu_triangle {
        margin-left: @menu-header-width - 135px;
      }
    }
    &.menu_faq {
      right: 20px;
      z-index: 1010;
      .menu_triangle {
        margin-left: @menu-header-width - 85px;
      }
    }
    &.menu_comunica {
      right: 20px;
      z-index: 1010;
      .menu_triangle {
        margin-left: @menu-header-width - 56px;
      }
    }
    &.menu_settings {
      right: 20px;
      .menu_triangle {
        margin-left: @menu-header-width - 30px;
      }
    }

    @media (max-width: @screen-md-max) {
      &.menu_lang .menu_triangle {
        margin-left: @menu-header-width - 110px;
      }
      &.menu_faq .menu_triangle {
        margin-left: @menu-header-width - 71px;
      }
      &.menu_comunica .menu_triangle {
        margin-left: @menu-header-width - 49px;
      }
      &.menu_settings .menu_triangle {
        margin-left: @menu-header-width - 28px;
      }
    }
  }
  /* Colapse POP Panel */

  &.brand-box-title {
    padding: 0;
    line-height: 30px;
    position: relative;

    .main-logo {
      visibility: hidden;
      img {
        height: 30px;
      }
    }
    .main-title {
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .brand-title {
      margin-bottom: 0;
      font-size: 12px;
      padding-right: 40px;
      text-align: right;
    }
    .btn-close {
      position: absolute;

      right: 15px;
      color: #ffffff;
      font-size: 10px;
      line-height: 30px;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  /* Registo */
  &.form-registo {
    height: auto;
    padding: 15px 15px 0 15px;
    .banner-back {
      img {
        height: 453px;
      }
    }
    .title-form-registo{
      margin-bottom: 15px;
    }
    .brand-title {
      font-size: 16px;
    }
    .registo-form {
      margin-left: 0;
      position: relative;
      label {
        font-size: 12px;
      }
      span {
        line-height: 20px;
        font-size: 11px;
      }
      input,
      select {
        width: 100%;
        font-size: 11px;
        height: 25px;
      }
      > div > select {
        width: 32%;
      }
      input[type="checkbox"]{
        width: auto;
        vertical-align: middle;
        height: auto;
      }
      .brand-color {
        span{
          display: inline-block;
          font-size: 10px;
          line-height: normal;
        }
      }
      i {
        position: absolute;
        top: 20px;
        right: -28px;
      }
      p{
        font-size: 10px;
      }
      p.terms {
        line-height: 21px;
        font-size: 12px;
        margin-top: -2px;
        i {
          position: inherit;
        }
        span {
          display: inline;
        }
        input {
          margin-top: -2px;
        }
      }
    }
    @grid-form-margin: 40px;
    .grid {
      overflow: hidden;
      .row {
        margin-left: -@grid-form-margin;
      }

      .col-xs-4 {
        padding-left: @grid-form-margin;
        padding-right: @grid-form-margin;
      }
    }
    .middle {
      border-left: 1px dashed #787878;
      border-right: 1px dashed #787878;

      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }

    .form-footer-rodape {
      .btns .btn {
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-align: center;
        white-space: pre;
        align-items: flex-start;
        perspective-origin: 63.875px 16.5px;
        transform-origin: 63.875px 16.5px;
        background: rgb(1, 159, 233) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 2px solid rgb(187, 187, 187);
        border-radius: 10px 10px 10px 10px;
        font: normal normal normal normal 12.24px / 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        outline: rgb(255, 255, 255) none 0px;
        padding: 3px;
        transition: all 0.4s ease 0s;

        line-height: 20px;
        font-size: 13px;
      }
      .form-submit input {
        line-height: 20px;
        border-radius: 10px;
      }
      .brand-botao {
        font-size: 13px;
        font-weight: bold;
        border-width: 2px;
      }
      .form-marcadores p {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border-radius: 50%;
        margin: 0px 5px 15px;
        font-size: 12px;
        font-weight: bold;
        color: #ddd;
        border: none;
      }
    }
  }
}