.left-menu > .promo-box {
  background: #C69A31;
}

.btn.btn-brand.btn-slim.fright {
  background: #C69A31 !important;
}

.bet .bs-wp nav ul > li.active a {
  color: #C69A31 !important;
}

.bet .bs-wp nav ul > li a {
  &:hover {
    color: #C69A31 !important;
  }
}

.promotions-link {
  &:hover, &.selected {
    color: #C69A31 !important;
  }
}