// Body
$body-bg: #101928;

// Typography
$font-family-exo2: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
$font-family-openSans:  'Open Sans', 'Droid Sans', Verdana, sans-serif;

// Borders
$border-radius: 6px;