@import '../global/variables';

.sportsMenu {

    .region {
        font-family: $font-sans;
        font-size: 14px;
        background-color: #2d415c;
        padding: 11px 15px 10px;
        cursor: pointer;
        color: #FFF;
        transition: background-color .5s ease;

        &:hover{
            background-color: #FFF;
            color: #2d415c;
        }

        .count {
            float: right;
        }

        .cp-caret-down {
            font-size: 18px;
            float: right;
            color: #ff9900;
        }

    }
    .region:hover{
        background-color: #4a7fb3;
        color:  #fff;
    }
}