@import '../global/variables';

.sportsMenu {
    .sport {
        font-family: $font-exo;
        font-size: 18px;
        line-height: 40px;
        background-color: #1e293e;
        padding: 0 15px;
        color: #99ccff;
        cursor: pointer;
        transition: all .5s ease;

        &.selected {
            color: #FFF;
        }

        .cp {
            line-height: 39px;
        }

        .cp-caret-down {
            float: right;
            color: #ff9900;
        }

        .cp-plus {
            float: right;
        }
    }

    .sport:hover {
        background-color: #4a7fb3;
        color:  #fff;
    }
}
