@font-face {
  font-family: 'casinopt';
  src:  url('/assets/portal/fonts/casinopt.eot?9njl6f');
  src:  url('/assets/portal/fonts/casinopt.eot?9njl6f#iefix') format('embedded-opentype'),
  url('/assets/portal/fonts/casinopt.ttf?9njl6f') format('truetype'),
  url('/assets/portal/fonts/casinopt.woff?9njl6f') format('woff'),
  url('/assets/portal/fonts/casinopt.svg?9njl6f#casinopt') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cp-"], [class*=" cp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'casinopt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-99614:before {
  content: "\e900";
}
.cp-badminton:before {
  content: "\e901";
}
.cp-4:before {
  content: "\e902";
}
.cp-ciclismo:before {
  content: "\e903";
}
.cp-d-motorizados:before {
  content: "\e904";
}
.cp-10:before {
  content: "\e905";
}
.cp-491393:before {
  content: "\e905";
}
.cp-golfe:before {
  content: "\e906";
}
.cp-73743:before {
  content: "\e907";
}
.cp-73744:before {
  content: "\e907";
}
.cp-snooker:before {
  content: "\e908";
}
.cp-pingpong:before {
  content: "\e909";
}
.cp-24:before {
  content: "\e90a";
}
.cp-91189:before {
  content: "\e90b";
}

