@import "../global/variables";
@import "../global/global";

/* Generic */
#register-container {
  color: $color-black;

  .loading {
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: $color-text-box;
    i {
      margin: 200px auto;
    }
  }

  .breadcrumb {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
    /*centering*/
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 25px;
    width: 100%;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    li {
      outline: none;
      display: block;
      text-indent: 0;
      float: left;
      font-size: 13px;
      line-height: 45px;
      color: white;
      /*need more margin on the left of links to accomodate the numbers*/
      padding: 0;
      background: #ff9900;
      position: relative;
      width: (1/3*100%);

      &:first-child {
        border-radius: 5px 0 0 5px;
        /*to match with the parent's radius*/
        font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
        height: 45px;
        font-size: 14px;
        &:before {
          left: 14px;
        }
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
        /*this was to prevent glitches on hover*/
        padding: 1px;
        color: #FFF;
        height: 0;
        background: #FFF;
      }

      /*hover/active styles*/
      &.active, &:hover {
        background: #ff9900;
        background: linear-gradient(#333, #000);
        color: white;
      }
      &.active:after, &:hover:after {
        background: #333;
        background: linear-gradient(135deg, #333, #000);
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -18px;
        /*half of square's length*/
        /*same dimension as the line-height of .breadcrumb a */
        width: 45px;
        height: 45px;
        /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
        length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
        if diagonal required = 1; length = 1/1.414 = 0.707*/
        transform: scale(0.707) rotate(45deg);
        /*we need to prevent the arrows from getting buried under the next link*/
        z-index: 1;
        /*background same as links but the gradient will be rotated to compensate with the transform applied*/
        background: #666;
        background: linear-gradient(135deg, #666, #333);
        /*stylish arrow design using box shadow*/
        box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 255), 3px -3px 0 2px rgba(255, 255, 255, 255);
        /*
            5px - for rounded arrows and
            50px - to prevent hover glitches on the border created using shadows*/
        border-radius: 0 5px 0 50px;
      }
      &:last-child:after {
        content: none;
      }
    }
  }

  /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/


  /*adding the arrows for the breadcrumbs using rotated pseudo elements*/

  /*we dont need an arrow after the last link*/

  /*we will use the :before element to show numbers*/

  .flat li {
    background: lightgrey;
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
    color: white;
    font-size: 14px;
    transition: all 0.5s;
    height: 45px;
    &:after {
      background: lightgrey;
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
      color: white;
      font-size: 14px;
      transition: all 0.5s;
      height: 45px;
    }
    &:before {
      background: white;
      box-shadow: 0 0 0 1px #ccc;
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
    }
    &:hover, &.active, &:hover:after, &.active:after {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif !important;
      background: #ff9900;
    }

    &:last-child.active {
      border-radius: 0 5px 5px 0;
      /*this was to prevent glitches on hover*/
      padding: 0;
      color: #FFF;
      background: #FFF;
      height: 0;
    }
  }
}

.register {
  border: 2px solid #ff9900;
  border-radius: $border-radius;

  .title {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height:40px;

    color: #FFF;
    background-color: #ff9900;
    padding: 0 20px;

    i {
      float: right;
      line-height: 40px;
      margin-left: 15px;
      cursor: pointer;
    }
  }

  >.content {
    padding: 8px 8px 0;
    background-color: white;

    .header {
      font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #ff9900;
      line-height: 40px;
      padding: 0 8px;
    }

    > .row {
      padding: 0 8px;
      overflow-y: auto;
      overflow-x: hidden;

      > .column {
        width: 50%;
        float: left;

        &:nth-child(1) {
          padding-right: 5px;
        }
        &:nth-child(2) {
          padding-left: 5px;
        }

        > .row {
          line-height: 30px;
          overflow-y: auto;
          overflow-x: hidden;
          position: relative;

          label {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 11px;
            width: 40%;
            float: left;
            color: black;
            display: inline-block;
          }

          .field {
            font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
            font-size: 12px;
            width: 60%;
            float: left;
            padding-top: 5px;
            background-color: #FFF;

            &.top {
              padding-top: 0;
              i {
                position: absolute;
                right: 6px;
                top: 4px;
              }
            }

            &.birth-date {
              select {
                width: 30%;
              }
              select:nth-last-of-type(1) {
                width: 40%;
              }
            }

            input[type="text"],
            input[type="password"],
            input[type="email"] {
              float: left;
              border: 1px solid black;
              border-radius: $border-radius;
              width: 100%;
              padding-right: 20px;
            }
            input[type="checkbox"] {

            }

            select {
              float: left;
              border-radius: $border-radius;
              border: 1px solid lightgray !important;
              height: 20px;
              min-width: 50px;
              width: 100%;
              padding-right: 32px;
              background: url("/assets/portal/img/combodown.gif") no-repeat right #fff !important;
            }
            span {
              line-height: initial;
              float: left;
            }
          }
        }
      }
    }

    .bs-wp {
      padding: 0 16px;

      .col-xs-1, .col-xs-2, .col-xs-3,
      .col-xs-4, .col-xs-5, .col-xs-6 {
        padding: 0 5px;
      }
      label {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 11px;
        color: black;
        font-weight: normal;
      }
      input[type="text"] {
        width: 100%;
        border: 1px solid black;
        border-radius: $border-radius;
        height: 21px;
        font-size: 12px;
      }
      .bank {
        input + i {
          position: absolute;
        }
      }
      input + i {
        float: right;
        margin-right: 6px;
      }
      .agreement {
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 12px;
        line-height: 30px;
        margin-left: -24px; /* change later*/
        .check {
          padding-right: 5px;
          padding-top: 5px;
          float: left;
        }
        .cp-exclamation-circle,
        .cp-check-circle {
          margin-left: 5px;
        }
        label {
          margin: 0;
        }
      }
    }
  }

  .cp-exclamation-circle,
  .cp-check-circle {
    font-size: 16px;
    margin-left: -19px;
    margin-top: 2px;
    background: $color-white;
  }
  span.error {
    font-size: 10px;
  }
  .warning-color {
    color: red;
  }
  .success-color {
    color: green
  }

  >.footer {
    overflow: auto;
    background-color:white;
    padding: 0 12px 15px 16px;

    .captcha {
      * {
        box-sizing: border-box;
      }
      width: 60%;

      .img {
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-radius: $border-radius 0 0 $border-radius;
        overflow: hidden;
      }
      .codigo {
        position: relative;
        float: left;
        width: 168px;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 $border-radius $border-radius 0;
        .refresh {
          float: left;
          width: 30px;
          line-height: 40px;
          button {
            height: 40px;
            border: 0;
            background: none;
          }
        }
        input {
          float: left;
          width: 130px;
          border: none !important;
          height: 40px;
          line-height: 40px;
        }
        span {
          bottom: 0;
          display: block;
          left: 0;
          position: absolute;
          text-align: center;
          width: 100%;
        }
        .cp-refresh {
          opacity: 0.4;
        }
      }
    }

    .actions {
      button {
        font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
        font-weight: bold;
        font-size:15px;
        color: #FFF;
        float: right;
        margin: 0 5px;
        background: #ccc;
        height: 40px;
        border: none;
        border-radius: $border-radius;
        width: 110px;

        &.submit {
          background: $cor-verde-submit;
          &:hover {
            background: lighten($cor-verde-submit, 10%);
          }
        }
        &:hover {
          background-color: lighten(#ccc, 10%);
        }

      }
    }
  }

  .g-recaptcha {
    padding-top: 10px;
  }
}

.register_step2 {
  border: 2px solid #ff9900;
  border-radius: $border-radius;

  i {
    opacity: 0.2 !important;
    filter: alpha(opacity=50) !important; /* For IE8 and earlier */
  }

  > .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;

    color: #FFF;
    background-color: #ff9900;
    padding: 0 20px;

    i {
      float: right;
      line-height: 44px;
      margin-left: 15px;
      cursor: pointer;
    }
  }

  > .content {
    padding: 8px;
    background-color: white;

    > .header {
      .step {
        float: left;
        line-height: 44px;
        width: 50%;
        background-color: #ccc;
        text-align: center;
        font-family: 'Open Sans', 'Droid Sans', Verdana, sans-serif;
        font-size: 18px;
        color: #FFF;
        border-right: 1px solid #FFF;

        &.selected {
          background-color: #fff;
        }
      }
    }

    > .icon{
      text-align:center;
    }

    .cp-check-circle {

      font-size: 1.5em;
      margin-top: 60px;
      color: green;

    }

    .cp-exclamation-circle{
      color:darkorange;
      font-size: 1.5em;
      margin-top: 15px;
    }


    > .header {
      padding-top: 10px;
      padding-left: 70px;
      padding-right: 70px;
      text-align: center;

      font-family: $font-sans;
      font-size: 16px;
      color: #666666;

    }

    > .upload {
      padding-left: 8px;
      padding-right: 15px;
      padding-bottom: 10px;
      font-weight:bold;

      font-family: $font-sans;
      font-size: 18px;
      color: #ff9900;

    }

    > .column {
      width: 50%;
      float: left;

    }
  }

  > .footer {
    background-color: white;
    padding: 15px;

    .actions {
      padding-top: 15px;
      button {

        font-family: $font-exo;
        font-weight: bold;
        font-size: 15px;
        color: #FFF;
        float: right;
        margin: 0 5px;
        background: #ccc;
        height: 40px;
        border: none;
        border-radius: $border-radius;
        width: 110px;

        &.submit {
          background: $cor-verde-submit;
        }

      }
    }
  }
}

.register_step3 {
  background: #ffffff;
  border: 2px solid #ff9900;
  border-radius: $border-radius;

  .header {
    font-family: 'Exo 2', 'Open Sans', 'Droid Sans', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    height: 44px;

    color: #FFF;
    background-color: #ff9900;
    padding: 0 20px;

    i {
      float: right;
      line-height: 44px;
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .content {
    padding: 8px;
    background-color: white;

      font-family: $font-sans;

    .center {
      padding: 0 30px;
    }
    .title {
      font-family: $font-sans;
      text-align: center;
      font-weight: bold;
      color: #666;
      padding: 10px 0;
      font-size: 17px;
    }
    > .icon{
      text-align:center;
    }

    i {
      font-size: 1.5em;
      padding-top: 20px;
      color: #4b802a;
    }

    .message {
      text-align: center;

      font-family: $font-sans;
      font-size: 16px;
      color: #666666;
      padding: 10px 0;
    }
    .icons {
      font-size: 12px;
      padding: 5px 30px;

      .col-xs-4 {
        padding: 0;
      }
      .choice {
        label {
          color: $color-text-box;
          line-height: 40px;
          height: 40px;
          margin-bottom: 0;
          padding-left: 15px;
        }
        .check {
          top: 12px;
        }
        img {
          height: 40px;
        }
      }
    }

    .deposit-field {
      padding: 10px 8px;
      font-size: 13px;
      line-height: 25px;
      color: #666;

      i {
        position: absolute;
        right: 18px;
        top: 0;
        padding-top: 4px;
      }

      input {
        color: #666;
        width: 100%;
        border-radius: $border-radius;
        text-align: right;
        padding: 0 20px 0 10px;
        height: 25px;
        line-height: 25px;
      }
      span.error,
      .warning-color {
        color: #f00;
      }
      .row {
        padding: 0 15px;
      }
    }

    .texto {
      padding: 0 12px;
      color: $color-text-box;
      font-size: 12px;
      line-height: 20px;
    }
    .tax {
      color: $color-text-box;
    }
    .total {
      font-weight: bold;
      color: $color-green;
    }
    .tax, .total {
      line-height: 30px;
      input {
        text-align: right;
        line-height: 28px;
        width: 100%;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    #deposit_tb {
      padding: 10px 8px 0;
      label {
        color: $color-blue;
        font-size: 13px;
        padding: 0 12px;
        font-weight: bold;
      }
      .input-group {
        width: 100%;
      }
      input {
        background: none;
        border: none;
        box-shadow: none;
        color: $color-text-box;
        font-size: 14px;
        height: 25px;
        line-height: 25px;
        outline: none;
        padding: 0 12px;
        width: 100%;
      }
    }
  }

  .footer {
    overflow: auto;
    padding: 12px;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 16px;

    .header {

      text-align: center;
      font-weight: bold;


      font-family: $font-sans;
      font-size: 18px;
      color: #666666;
    }

    .actions {
      button {

      font-family: $font-sans;
        font-weight: bold;
        font-size: 15px;
        color: #FFF;
        float: right;
        margin: 0 5px;
        background: #ccc;
        height: 40px;
        border: none;
        border-radius: $border-radius;
        width: 110px;

        &.deposit {
          background: #fea900;
        }
        &.finish {
          background: $cor-verde-submit;
        }

      }
    }
  }
}
