<div id="betSlip-simpleBet-box-{{id}}" class="bets-box vmargin-small">
    <div class="hBox">
        <span class="bets-text-gameName">{{gameName}}</span>
        <button id="betSlip-simpleBet-button-removeBet-{{id}}" class="bets-button-removeBet fright">X</button>
    </div>
    <div class="hBox">
        <span class="bets-text-marketName">{{marketName}}</span>
        <input id="betSlip-field-amount-{{id}}" type="text" class="bets-field-amount" value="{{amount}}" data-id="{{id}}">
    </div>
    <div class="acenter">
        <span id="simpleBet-text-error-{{id}}" class="bets-text-error"></span>
    </div>
    <div class="hBox">
        <span class="bets-text-eventName">{{name}}</span>
        <span class="bets-text-odds">{{odds}}</span>
    </div>
    <div class="hBox">
        <span class="bets-text-profitLabel">Possível Retorno</span>
        <span id="betSlip-text-profit-{{id}}" class="bets-text-profit">{{multiply amount odds}}€</span>
    </div>
</div>
