{{#each game_types}}
<div class="casino-box-header">{{gameType_name}}</div>
<div class="casino-box">
    <button id="casino-{{id}}-prev" class="casino-button-prev"><i class="fa fa-angle-left"></i></button>
    <div class="casino-box-carousel">
        <div id="casino-{{id}}-carousel" class="owl-carousel">
            {{#each games}}
            <div class="casino-box-game">
                <a href="#"><img class="casino-image-game" src="{{image_url}}"></a>
                <span class="casino-text-gameLabel">{{name}}</span>
                <button id="favorite-button-{{id}}"
                        class="fa fa-star casino-button-favorite {{#is_favorite id}}casino-button-favoriteSelected{{/is_favorite}}"
                        data-game-id="{{id}}" data-game-name="{{name}}" data-type="favorite"
                        data-game-sport="{{../gameType_name}}" data-selected-css="casino-button-favoriteSelected"></button>
            </div>
            {{/each}}
        </div>
    </div>
    <button id="casino-{{id}}-next" class="casino-button-next"><i class="fa fa-angle-right"></i></button>
</div>
{{/each}}