<div class="favorites-container-content">
    <div class="fleft">
        <button id="favorites-prev" class="favorites-button-prev {{#unless hasPrev}}invisible{{/unless}}"><</button>
    </div>
    <div class="fright">
        <button id="favorites-next" class="favorites-button-next {{#unless hasNext}}invisible{{/unless}}">></button>
    </div>
    <div class="fright">
        <button id="favorites-close" class="favorites-button-close">FECHAR</button>
    </div>
    {{#for games startIndex endIndex}}
    <div class="favorites-box-favorite" data-game-id="{{id}}" data-type="game">
        <span class="favorites-text-gameLabel">{{name}}</span>
        <button class="favorites-button-favoriteClose" data-game-id="{{id}}" data-remove="favorite">x</button>
        <span class="favorites-text-sportLabel">{{sport}}</span>
        <span class="favorites-text-dateLabel">{{date}}</span>
    </div>
    {{/for}}
</div>